<%= simple_form_for([:admin, @carousel_item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :title %>
      <%= render "/shared/form/md_editor", f: f, field: :tagline, show_hint: true %>
      <%= f.input :carousel_name, collection: CarouselItem::CAROUSEL_NAMES, include_blank: false %>
      <%= f.input :is_active %>
      <%= f.input :ordering, hint: 'The lower the number, the earlier it will appear.' %>

      <%= render 'shared/form/file_field', f: f, field_name: :image, hint: 'The aspect ratio should be the same for all items in the same carousel.' %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
