<%= render '/events/basic_info', event: @season, event_type: 'festival' %>

<%= render '/events/publicity_text_and_team_members', event: @season %>


<% @events.each do |day, events_by_day|%>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title"><%= day %></h4>
    </div>
    <% if @events.empty? %>
      <div class="card-body">There are no events attached to this festival.</div>
    <% else %>
      <ul class="list-group list-group-flush">
        <% events_by_day.each do |event|%>
          <li class="list-group-item">
            <% image = image_tag event.fetch_image.variant(thumb_variant_public) %>
            <%= link_to image, event, class: "float-start img-thumbnail me-3 h-100" %>

            <h4><%= link_to event.name, event %></h4>

            <p>
              <% if event.start_date != event.end_date %>
                <b><%= event.date_range false %></b>
              <% end %>
            </p>

            <p><%= event.short_blurb %></p>
            
            <p><%= link_to 'View Details', event, class: 'btn btn-primary' %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= render '/shared/gallery', pictures: @season.pictures.accessible_by(current_ability, :show) %>

<%= render 'shared/video_link_gallery', video_links: @season.video_links.accessible_by(current_ability, :show) %>

<%= render '/shared/show_actions', object: @season, index_link_params: { link_target: seasons_path } %>
