<%= render '/events/basic_info', event: @season, event_type: 'festival' %>

<%= render '/events/publicity_text_and_team_members', event: @season %>

<% @events.each do |day, events_by_day|%>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title"><%= day %></h4>
    </div>
    <div class="card-body">
      <% if @events.empty? %>
        There are no events attached to this festival.
      <% else %>
        <% events_by_day.each do |event|%>
            <div class="d-flex flex-column flex-md-row">
            <%= render('shared/image', image: event.fetch_image, variant: thumb_variant_public, eager_load: false, image_options: { class: 'img-thumbnail'}) %>

            <div class="flex-fill ms-3">
              <h4 class="media-heading"><%= link_to event.name, event %></h4>
              
              <p>
                <% if event.start_date != event.end_date %>
                  <b><%= event.date_range false %></b>
                <% end %>
              </p>

              <p>
               <%= event.short_blurb %>
              </p>
              <p class="card-text"><%= link_to 'View Details', event, class: 'btn btn-primary' %></p>
            </div>
          </div>

          <% # Add a separator unless this is the last element. %>
          <% if event.id != events_by_day.last.id %>
            <hr />
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render '/admin/events/reviews', reviews: @season.reviews.accessible_by(current_ability) %>

<%= render '/shared/gallery', pictures: @season.pictures.accessible_by(current_ability, :show) %>

<%= render 'shared/video_link_gallery', video_links: @season.video_links.accessible_by(current_ability, :show) %>

<%= render '/shared/show_actions', object: @season, index_link_params: { link_target: seasons_path } %>
