<h1><%= @title %></h1>

<div class="row">
    <div class="span12">
        <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_debt_notifications, html: { id: "search", class: "form-search" } do |f| %>
            <%= f.input_field :first_name_cont, placeholder: "First Name",  required: false %>
            <%= f.input_field :last_name_cont,  placeholder: "Last Name",   required: false %>
            <%= f.submit :Search, class: 'btn' %>
        <% end %>
    </div>
</div>

<% if @debt_notifications.empty? %>
  <p>HAL could not find any debt notifications.</p>
<% else %>
  <table class='table'>
    <thead>
      <tr>
        <th>User</th>
        <th>Sent On</th>
        <th>Type</th>
      </tr>
    </thead>

    <tbody>
      <% @debt_notifications.each do |debt_notification| %>
        <tr>
          <td><%= debt_notification.user.name_or_email %></td>
          <td><%= debt_notification.sent_on %></td>
          <td><%= debt_notification.notification_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paginate_holder">
    <%= will_paginate(@debt_notifications) %>
  </div>
  <br>
<% end %>

