<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>

    <% if can? :edit, Admin::StaffingTemplate %>
      <th></th>
    <% end %>
  </tr>

<% @staffing_templates.each do |template| %>
  <tr>
    <%= get_link template, :show, wrap_tag: 'td' %>

    <%= get_link template, :edit, wrap_tag: 'td'%>
  </tr>
<% end %>
</table>

<%= get_link Admin::StaffingTemplate, :new %>
<%= get_link Admin::Staffing, :index %>