<% # Looks for an input tagged with event_name and an input tagged with event_slug %>
<%= javascript_include_tag 'name_to_slug.js' %>

<%= f.input :name, input_html: { id: 'event_name' } %>

<%= f.input :tagline %>

<%= f.input :slug, input_html: { id: 'event_slug' } %>

<%= render 'shared/form/file_field', f: f, field_name: :image, hint: 'This is the image that appears in the slideshow on the frontpage, and as the header image on your event page. The apect ratio should be approximately 48/25.' %>

<%= f.input :start_date, start_year: Rails.configuration.start_year, end_year: max_end_year %>

<%= f.input :end_date, start_year: Rails.configuration.start_year, end_year: max_end_year %>

<%= f.association :venue, collection: Venue.all, label_method: :name %>

<%= f.input :author, collection: Event.author_name_list, allow_custom_input: true %>

<%= f.input :price %>

<% unless f.object.is_a? Season %>
  <% if f.object.persisted? %>
    <%= f.association :season, collection: f.object.simultaneous_seasons, label_method: :name %>
  <% else %>
    <p>You can add a season after adding the event.</p>
  <% end %>
<% end %>

<%= f.association :proposal, collection: f.object.possible_proposals, label_method: :show_title %>

<%= f.input :is_public, hint: 'Display this event on the publicly visible part of the website?' %>

<%= render "/shared/form/md_editor", f: f, field: :publicity_text, show_hint: true %>

<%= render "/shared/form/md_editor", f: f, field: :members_only_text, show_hint: true %>

<%= render 'admin/events/event_tags_form_section', f: f %>

<%= render '/shared/form/sections/gallery', f: f %>

<%= render 'shared/form/sections/attachments', f: f %>

<%= render 'shared/form/sections/video_links', f: f %>

<h3>Pretix Widget Configuration</h3>
<%= render layout: '/shared/collapsible_section', locals: { title: 'Pretix Widget Configuration' } do %>
    <%= f.input :pretix_shown, hint: 'Display the Pretix widget for this event.' %>
    <%= f.input :pretix_slug_override, hint: ' Leave blank to use the slug for this event as the Pretix slug' %>
    <%= f.input :pretix_view, collection: ['list','week','month'], default: 'list', hint: "See Pretix's documentation for examples" %>
  </div>
<% end %>
