<% # Looks for an input tagged with event_name and an input tagged with event_slug %>
<%= javascript_include_tag 'name_to_slug.js' %>

<%= f.input :name, input_html: { id: 'event_name' } %>

<%= f.input :tagline %>

<%= f.input :slug, input_html: { id: 'event_slug' } %>

<%= render 'shared/form/file_field', f: f, field_name: :image, hint: 'This is the image that appears in the slideshow on the frontpage, and as the header image on your event page. The apect ratio should be approximately 48/25.' %>

<%= render "/shared/form/md_editor", f: f, field: :publicity_text, show_hint: true %>

<%= f.input :start_date, start_year: 1890, end_year: max_end_year %>

<%= f.input :end_date, start_year: 1890, end_year: max_end_year %>

<%= f.association :venue, collection: Venue.all, label_method: :name %>

<%= f.input :author %>

<%= f.input :price %>

<% unless f.object.is_a? Season %>
  <% if f.object.persisted? %>
    <%= f.association :season, collection: f.object.simultaneous_seasons, label_method: :name %>
  <% else %>
    <p>You can add a season after adding the event.</p>
  <% end %>
<% end %>

<%= f.association :proposal, collection: f.object.possible_proposals, label_method: :show_title %>

<%= render '/shared/form/public_private_switch', f: f, field_symbol: :is_public %>

<div class="form-horizontal">
  <h3>Tags</h3>
  <% if f.object.errors[:event_tags].present? then %>
    <p id="event_tags_errors" class="alert alert-error">
      <%= f.error :event_tags %>
    </p>
  <% end %>

  <%= f.collection_check_boxes(:event_tag_ids, EventTag.accessible_by(current_ability), :id, ->(event_tag) { get_link event_tag, :show, link_text: event_tag.name, target: :blank }) do |checkbox| %>
    <%= checkbox.label { "#{checkbox.check_box}   #{checkbox.text}".html_safe } %>
  <% end %>
</div>

<%= render '/shared/form/sections/gallery', f: f %>

<%= render 'shared/form/sections/attachments', f: f %>
