<%# locals: (reviews:) %>

<% if reviews.any? %>
  <% multi = reviews.count > 1 %>
  <div class="grid gap-4 <%= 'lg:grid-cols-2' if multi %>">
    <% reviews.each do |review| %>
      <div>
        <div class="card">
            <div class="card-header">
              <h4>
                <%= review.title %><%= " - <span class=\"whitespace-nowrap\">#{star_rating(review.rating)}</span>".html_safe %>
              </h4>
            </div>
          <div class="card-body">
            <p class="card-text"><small class="text-gray-500"><%= l review.review_date, format: :long %> - By <%= review.reviewer_with_organisation %></small></p>

            <%= render_markdown review.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
