<%= render layout: '/shared/collapsible_section', locals: { title: 'Search Form' } do %>
  <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :archives_proposals do |f| %>
    <%= f.input :show_title_cont,      label: "Proposal Title", required: false %>
    <%= f.input :users_full_name_cont, label: "Person Name",    required: false %>

    <%= f.input :proposal_text_cont,   label: "Proposal Text",  required: false %>
    <%= f.input :publicity_text_cont,  label: "Publicity Text", required: false %>

    <%= render 'shared/date_range_search_form_field', f: f, start_year: 2013, start_date_attribute: 'call_submission_deadline', end_date_attribute: 'call_editing_deadline' %>

    <%= f.submit :Search, class: 'btn btn-primary' %>

    <%= f.submit :Random, class: 'btn btn-secondary' %>
  <% end %>
<% end %>

<% # TODO: Search form %>
<% # BOOTSTRAP: Redesign the proposal archive. %>

<div class="row">
  <div class="span12">
    <h1><%= @title %></h1>

    <div class="accordion" id="calls_accordion">
      <% @proposals.each do |call, proposals| %>
        <% div_name = "call_" + call.id.to_s + "_proposals" %>

        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <a href="#<%= div_name %>" data-toggle="collapse" style="display: inline-block;">
                <%= call.name %>
              </a>
              <span class="float-right">
                Submission Deadline: <%= l call.submission_deadline, format: :short %>
                |
                Editing Deadline: <%= l call.editing_deadline, format: :short %>
              </span>
              <div style="clear: both;"></div>
            </div>
          </div>
          <div id="<%= div_name %>" class="accordion-body collapse">
            <% proposals.each do |proposal| %>
              <div style="margin: 3px 15px;">
                <%= get_link proposal, :show %>
                <%= proposal.labels true %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate(@calls) %>
