<%= simple_horizontal_form_for(@proposal) do |f| %>
  <% content_for :extra_form_actions do %>
    <%= get_link @proposal.call, :view_other_proposals, link_target: admin_proposals_call_proposals_path(@proposal.call) , http_method: 'get' %>
  <% end %>

  <%= render('shared/pages/form', f: f) do %>
    <p><b>Proposal for: <%= get_link @proposal.call, :show %></b></p>

    <%= f.hidden_field :call_id %>

    <%= display_block("Proposals - Help on Form", true) %>

    <% if can?(:approve, @proposal) %>
      <%= f.input :status %>
    <% end %>

    <%= f.input :show_title %>

    <%= render "/shared/form/md_editor", f: f, field: :publicity_text, rows: 12, show_hint: true %>

    <%= render "/shared/form/md_editor", f: f, field: :proposal_text, rows: 12, show_hint: true %>

    <div id="answers">
      <h3>Questions</h3>
      <%= render('shared/form/sections/nested_fields', f: f, association_name: :answers, partial_name: 'answer_fields', display_link_to_add: false) %>
    </div>

    <%= render '/shared/form/sections/team_members', f: f %>

    <div>By submitting this form you agree that this proposal (including the names of the team members) may be shared with Friends of Bedlam</div>
  <% end %>
<% end %>
