<% if @proposal.persisted? then url = admin_proposals_call_proposal_url else url = admin_proposals_call_proposals_url end %>
<%= simple_nested_form_for([@call, @proposal], url: url) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

    <p>
      <b>Proposal for: <%= @call.name %></b>
    </p>

    <% if can?(:approve, @proposal) %>
      <% if @proposal.successful.nil? && !@proposal.approved.nil? %>
        <%= f.input :approved, as: :select, blank: true %>
      <% end %>

      <% if @proposal.approved %>
        <%= f.input :successful, as: :select, blank: true %>
      <% end %>
    <% end %>

    <%= f.input :show_title %>

    <%= render "/shared/form/md_editor", f: f, field: :publicity_text, rows: 12, show_hint: true %>


    <%= render "/shared/form/md_editor", f: f, field: :proposal_text, rows: 12, show_hint: true %>

    <div>
      <h3>Questions</h3>

      <%= f.simple_fields_for :answers %>
    </div>

    <%= render '/shared/form/sections/team_members', f: f %>
  </div>

  <div>By submitting this form you agree that this proposal (including the names of the team members) may be shared with Friends of Bedlam</div>
  
  <% # This cannot use /shared/form/form_actions because the links are so different %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <% if @proposal.persisted?%>
      <%= get_link f.object, :show, link_target: admin_proposals_call_proposal_path(@call, @proposal), link_text: 'View', html_class: 'btn', additional_condition: f.object.persisted?, return_link_text_if_no_permission: false %>
    <% end %>
    <%= get_link @call, :view_other_proposals, link_target: admin_proposals_call_proposals_path(@call) , http_method: 'get' %>
  </div>
<% end %>
