<%= simple_nested_form_for([@call, @proposal], :url => admin_proposals_call_proposals_path) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
  
    <p>
      <b>Proposal for: <%= @call.name %></b>
    </p>

    <%= f.input :show_title %>

    <%= f.input :cast_male %>

    <%= f.input :cast_female %>

    <%= f.input :running_time %>

    <%= render :partial => "admin/shared/md_editor", :locals => { :f => f, :field => :publicity_text } %>

    <%= render :partial => "admin/shared/md_editor", :locals => { :f => f, :field => :proposal_text } %>

    <hr />
    
    <h3>Budget</h3>
    
    <%= f.input :budget_royalties %>

    <%= f.input :budget_publiciy %>

    <%= f.input :budget_tech %>

    <%= f.input :budget_set %>

    <%= f.input :budget_costume %>

    <%= f.input :budget_props %>

    <%= f.input :budget_admin %>

    <%= f.input :budget_contingency %>

    <%= f.input :budget_eutc %>

    <%= f.input :budget_other_sources %>
    
    <h3>Team</h3>
    
    <%= f.simple_fields_for :team_members %>

    <%= f.link_to_add "Add Team Member", :team_members, :class => "btn" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    
    <%= link_to 'Back', admin_proposals_call_proposals_path(@call), :class => "btn" %>
  </div>
<% end %>
