<h1><%= @title %></h1>
<%= display_block("Proposal Calls", true) %>

<br />
<br />

<% fields = {
  submission_deadline: l(@call.submission_deadline, format: :longy),
  editing_deadline: l(@call.editing_deadline, format: :longy),
} %>

<%= render 'shared/basic_fields', fields: fields %>

<table class="table">
  <tr>
    <th>Show title</th>

    <% if can? :edit, Admin::Proposals::Proposal %>
      <th></th>
    <% end %>
  </tr>

  <% @proposals.each do |proposal| %>
    <tr>
      <td>
        <%= get_link proposal, :show, link_target: admin_proposals_call_proposal_path(@call, proposal) %>
        <%= proposal.labels true %>
      </td>

      <%= get_link proposal, :edit, link_target: edit_admin_proposals_call_proposal_path(@call, proposal), wrap_tag: 'td' %>
    </tr>
  <% end %>
</table>

<br />

<%= get_link Admin::Proposals::Proposal, :new, link_target: new_admin_proposals_call_proposal_path, additional_condition: @call.open? %>
<%= get_link @call, :edit, append_name: true %>
<%= get_link Admin::Proposals::Call, :index, link_text: 'Back To Calls' %>