<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Show title</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.show_title %></td>
    
    <td><%= link_to 'Show',  admin_proposals_call_proposal_path(@call, proposal) %></td>
    <td><%= link_to 'Edit', edit_admin_proposals_call_proposal_path(@call, proposal) %></td>
    <td><%= link_to 'Destroy', admin_proposals_call_proposal_path(@call, proposal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_admin_proposals_call_proposal_path %>
