<h1><%= @title %></h1>
<%= display_block("Proposal Calls", true) %>

<br />
<br />

<% fields = {
  submission_deadline: l(@call.submission_deadline, format: :longy),
  editing_deadline: l(@call.editing_deadline, format: :longy),
} %>

<%= render 'shared/basic_fields', fields: fields %>

<table class="table">
  <tr>
    <th>Show title</th>

    <% if can? :edit, Admin::Proposals::Proposal %>
      <th></th>
    <% end %>
  </tr>

  <% @proposals.each do |proposal| %>
    <tr>
      <td>
        <%= get_link proposal, :show, link_target: admin_proposals_proposal_path(proposal) %>
        <%= proposal.labels true %>
      </td>

      <%= get_link proposal, :edit, link_target: edit_admin_proposals_proposal_path(proposal), wrap_tag: 'td' %>
    </tr>
  <% end %>
</table>

<br />

<%= get_link Admin::Proposals::Proposal, :new, additional_condition: @call.open?, query_params: { call_id: @call.id } %>
<%= get_link @call, :edit, append_name: true %>
<%= get_link Admin::Proposals::Call, :index, link_text: 'Back To Calls' %>
