<h1><%= @title %></h1>

<div>
  <%= @proposal.labels false %>
  <br>
  <br>
</div>

<div>
  <b>Publicity text:</b>
  <%= render_markdown @proposal.publicity_text %>
</div>

<div>
  <b>Proposal text:</b>
  <%= render_markdown @proposal.proposal_text %>
</div>

<%= render '/shared/admin_show_team_members', team_members: @proposal.team_members, deadline: @proposal.call.editing_deadline, can_see_if_fellow_team_members_are_in_debt: true %>

<hr/>

<%= render '/shared/questions_and_answers', answers: @proposal.answers %>

<% # You cannot use /shared/show_actions here. %>
<%= get_link @proposal, :edit, link_target: edit_admin_proposals_call_proposal_path(@call, @proposal), html_class: 'btn btn-primary' %>
<%= get_link @proposal, :convert, link_target: convert_admin_proposals_call_proposal_path(@call, @proposal), http_method: :put, additional_condition: @proposal.approved %>
<%= get_link @call, :view_other_proposals, link_target: admin_proposals_call_proposals_path(@call) , http_method: 'get' %>

<% if can?(:approve, @proposal) && @proposal.approved.nil? %>
    <br/>
    <br/>

    <% if @proposal.has_debtors %>
      <% confirm = "Approving #{ @proposal.show_title}" %>
      <% detail = 'Warning: You are attempting to approve a show with debtors.\n Please type "Ignoring Debt" to confirm' %>
      <% type_confirm = 'Ignoring Debt' %>
    <% end %>

    <%= get_link @proposal, :approve, link_target: approve_admin_proposals_call_proposal_path(@call, @proposal),
                 confirm: confirm, detail: detail, type_confirm: type_confirm 
    %>
    
    <%= get_link @proposal, :reject, link_target: reject_admin_proposals_call_proposal_path(@call, @proposal) %>
<% end %>