<p id="notice"><%= notice %></p>

<p>
  <b>Show title:</b>
  <%= @admin_proposals_proposal.show_title %>
</p>

<p>
  <b>Cast male:</b>
  <%= @admin_proposals_proposal.cast_male %>
</p>

<p>
  <b>Cast female:</b>
  <%= @admin_proposals_proposal.cast_female %>
</p>

<p>
  <b>Running time:</b>
  <%= @admin_proposals_proposal.running_time %>
</p>

<p>
  <b>Publicity text:</b>
  <%= @admin_proposals_proposal.publicity_text %>
</p>

<p>
  <b>Proposal text:</b>
  <%= @admin_proposals_proposal.proposal_text %>
</p>

<p>
  <b>Budget royalties:</b>
  <%= @admin_proposals_proposal.budget_royalties %>
</p>

<p>
  <b>Budget publiciy:</b>
  <%= @admin_proposals_proposal.budget_publiciy %>
</p>

<p>
  <b>Budget tech:</b>
  <%= @admin_proposals_proposal.budget_tech %>
</p>

<p>
  <b>Budget set:</b>
  <%= @admin_proposals_proposal.budget_set %>
</p>

<p>
  <b>Budget costume:</b>
  <%= @admin_proposals_proposal.budget_costume %>
</p>

<p>
  <b>Budget props:</b>
  <%= @admin_proposals_proposal.budget_props %>
</p>

<p>
  <b>Budget admin:</b>
  <%= @admin_proposals_proposal.budget_admin %>
</p>

<p>
  <b>Budget contingency:</b>
  <%= @admin_proposals_proposal.budget_contingency %>
</p>

<p>
  <b>Budget eutc:</b>
  <%= @admin_proposals_proposal.budget_eutc %>
</p>

<p>
  <b>Budget other sources:</b>
  <%= @admin_proposals_proposal.budget_other_sources %>
</p>


<%= link_to 'Edit', edit_admin_proposals_proposal_path(@admin_proposals_proposal) %> |
<%= link_to 'Back', admin_proposals_proposals_path %>
