<h1><%= @season.name %></h1>

<div>
  <b>Description:</b>
  <%= render_markdown @season.description %>
</div>

<p>
  <b>Dates:</b>
  <%= I18n.l(@season.start_date, format: :long) %> – <%= I18n.l(@season.end_date, format: :longy) %>
</p>

<h3>Events</h3>
<% @season.events.each do |event| %>
  <p>
    <%= render 'event_label', event: event %>
  </p>
<% end %>

<h3>Team</h3>
<%= render 'admin_show_team_members', team_members: @season.team_members %>

<% edit_text = '<i class="fa fa-pencil"></i> Edit'.html_safe %>
<%= link_to edit_text, edit_admin_season_path(@season), class: "btn" %>
<%= link_to 'Back', admin_seasons_path, class: "btn" %>
