<%= form_with(url: admin_permissions_path.to_s, method: 'post', local: true) do %>
<table class="table table-hover">
  <colgroup>
    <col span="1" style="border-right: 1px solid #dddddd;">

    <% @roles.each do |role| %>
      <col span="<%= @actions.count - 1%>">
      <col span="1" style="border-right: 1px solid #dddddd;">
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <% @roles.each do |role| %>
        <th colspan="<%= @actions.count %>"><%= role.name %></th>
      <% end %>
    </tr>

    <tr>
      <th>Subject Class</th>
      <% @roles.each do |role| %>
        <% @actions.each do |action|%>
        <th title="<%= action %>"><%= action[0].capitalize %></th>
        <%end%>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.name %></td>

        <% @roles.each do |role| %>
          <% permission = role.permissions.select{ |p| p.subject_class == model.name } %>
          <%= render 'permission_grid', role: role, model: model, permission: permission %>
        <% end %>
      </tr>
    <% end %>
    <% @miscellaneous_permission_subject_classes.each do |subject_class, actions| %>
      <tr>
        <% actions.each do |action, description| %>
          <td><%= description %></td>
          
          <% @roles.each do |role| %>
            <td colspan="<%= @actions.count %>">
              <% # Check if there is an instance of the permission model for this role with the correct subject_class and action. %>
              <% # If so, that means the box should start off as ticked. %>
              <% checked = role.permissions.select{ |p| p.subject_class == subject_class && p.action == action }.any? %>

              <% # Render the tickbox for this role/action combination. %>
              <%= check_box_tag "[#{role.name}][#{subject_class}]#{action}", "#{action}", checked, title: description %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag("Update", class: 'btn btn-secondary') %>

<% end %>