<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Subject</th>
    <th>Is Send</th>
    <th>Send Date</th>
    <% if can?(:edit, MassMail) %>
      <th></th>
    <% end %>
    <% if can?(:delete, MassMail) %>
      <th></th>
    <% end %>
  </tr>

<% @mass_mails.each do |mass_mail| %>
  <tr>
    <td><%= link_to get_subject(mass_mail), admin_mass_mail_path(mass_mail) %></td>
    <td><%= !mass_mail.draft ? "&#10004;".html_safe : "&#10008;".html_safe %></td>
    <td><%= get_send_date(mass_mail) %></td>

    <% if can?(:edit, mass_mail) %>
      <td>
        <% if mass_mail.draft %>
          <%= link_to 'Edit', edit_admin_mass_mail_path(mass_mail) %>
        <% end %>
      </td>
    <% end %>
    

    <% if can?(:delete, mass_mail) %>
      <td>
        <% if mass_mail.draft %>
          <%= link_to 'Destroy', admin_mass_mail_path(mass_mail), method: :delete,
            data: { confirm: "Deleting " + mass_mail.subject,
                    detail: "Are you sure you wish to delete this mass mail?" } %>
        <% end %> 
      </td>
    <% end %>
    
  </tr>
<% end %>
</table>

<%= will_paginate(@mass_mails) %>

<% if can? :create, MassMail %>
  <%= link_to new_admin_mass_mail_path, class: 'btn' do %>
    <i class="fa fa-plus"></i> New Mass Mail
  <% end %>
<% end %>