<%= simple_form_for [:admin, @news] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title %>

    <%= render :partial => "admin/shared/md_editor", :locals => { :f => f, :field => :body } %>

    <%= f.input :slug %>

    <%= f.input :publish_date %>

    <%= f.input :show_public %>
    
    <%= f.input :image %>

  </div>
  
  <script>
	$('#news_title').keyup(function() {
		var slug = jQuery.trim($('#news_title').val()).replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase().replace(/\-{2,}/g,'-');
		$('#news_slug').val(slug);
	});
  </script>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= link_to 'Cancel', admin_news_index_path, :class => "btn" %>
  </div>
<% end %>
