<%= simple_form_for [:admin, @news] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title %>

    <%= render :layout => "admin/shared/md_editor", :locals => { :f => f, :field => :body, :rows => 12 } do %>
      <%= render "admin/shared/md_hints" %>
    <% end %>

    <%= f.input :slug %>

    <%= f.input :publish_date %>

    <%= f.input :show_public, boolean_style: :inline %>
    <script type="text/javascript">
      $('#news_show_public').parent().toggleButtons({
        width: 220,
        label: {
          enabled: "Published",
          disabled: "Private"
        },
        style: {
          enabled:  "success",
          disabled: "danger"
        }
      });
    </script>

    <%= f.input :image %>

  </div>

  <script>
    $('#news_title').keyup(function() {
        var slug = jQuery.trim($('#news_title').val()).replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase().replace(/\-{2,}/g,'-');
        $('#news_slug').val(slug);
    });
  </script>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= link_to 'Cancel', admin_news_index_path, :class => "btn" %>
  </div>
<% end %>
