<h1><%= @title %></h1>

<%= display_block("News (Members Face)", true) %>

<br />
<br />

<table class="table">
  <tr>
    <th>Title</th>
    <th>Publish Date</th>
    <th>Show public</th>
    
    <% if can? :edit, News %>
      <th></th>
    <% end %>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= get_link news, :show %></td>
    <td><%= l news.publish_date, format: :short %></td>
    <td><%= bool_icon news.show_public %></td>

    <%= get_link news, :edit, wrap_tag: 'td' %>
  </tr>
<% end %>
</table>

<%= will_paginate(@news) %>

<%= get_link News, :new %>