<% @title = 'News' %>

<h1>News</h1>

<%= display_block("News (Members Face)", true) %>

<br />
<br />

<table class="table">
  <tr>
    <th>Title</th>
    <th>Publish Date</th>
    <th>Show public</th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to news.title, admin_news_path(news) %></td>
    <td><%= l news.publish_date, format: :short %></td>
    <td><%= news.show_public ? "&#10004;".html_safe : "&#10008;".html_safe %></td>

    <td>
    <% if can? :edit, news %>
    <%= link_to 'Edit', edit_admin_news_path(news) %>
    <% end %>
    </td>

    <td>
    <% if can? :delete, news %>
    <%= link_to 'Destroy', admin_news_path(news), method: :delete, data: { "confirm" => "Deleting " + news.title,
                                                                           "detail"  => "Are you sure you wish to continue?" } %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@news) %>

<% if can? :create, News %>
  <%= link_to new_admin_news_path, :class => 'btn' do %>
    <i class="fa fa-plus"></i> New News
  <% end %>
<% end %>