<% @title = 'Show News' %>

<p>
  <b>Title:</b><br />
  <%= @news.title %>
</p>

<p>
  <b>Body:</b>
</p>
<%= render_markdown @news.body %>

<p>
  <b>Publish Date:</b><br />
  <%= @news.publish_date %>
</p>

<p>
  <b>Show Public:</b><br />
  <%= @news.show_public %>
</p>

<p>
  <b>Image</b><br />
  <%= image_tag @news.image.url(:medium) %>
</p>

<% if can? :edit, @news %>
  <%= link_to 'Edit', edit_admin_news_path(@news), :class => 'btn' %>
<% end %>