<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b><br />
  <%= @news.title %>
</p>

<p>
  <b>Body:</b>
  <%= @news.body %>
</p>

<p>
  <b>Publish Date:</b>
  <%= @news.publish_date %>
</p>

<p>
  <b>Show Public:</b>
  <%= @news.show_public %>
</p>


<%= link_to 'Edit', edit_admin_news_path(@news) %> |
<%= link_to 'Back', admin_news_index_path %>
