<h1><%= @header %></h1>

<div class="flex flex-col md:flex-row gap-4">
  <div class="w-full<%= ' md:w-2/3' if any_details? %>">
    <%= render CardComponent.new(flush: true, html_class: "mb-0 overflow-hidden") do %>
      <%= render "shared/image", image: @image, variant: helpers.slideshow_variant, proxy: true, image_options: { class: "block w-full h-auto" } %>

      <% if show_card_body? %>
        <div class="p-4">
          <% if @tagline.present? %>
            <p class="block mb-2"><%= @tagline %></p>
          <% end %>
          <% if @admin_site %>
            <%= link_to "Download original image", helpers.active_storage_proxy_url(@image), class: "small text-gray-500", target: "_blank" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if any_details? %>
    <div class="w-full md:w-1/3">
      <%= render CardComponent.new(html_class: "h-full mb-0") do %>
        <% @details.each do |detail| %>
          <h4><%= detail[:key] %></h4>
          <p><%= detail[:value] %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% if extra_content? %>
  <%= extra_content %>
<% end %>

<%# Margin here so it does not mess with the h-100 on the details card. %>
<div class="mb-3"></div>
