<%# locals: (card_title:, card_partial:, card_status: nil) %>

<% id = card_title.parameterize.underscore %>

<div class="card mb-3">
  <% if card_status.present? %>
    <div class="card-status-start bg-<%= card_status %>"></div>
  <% end %>

  <div class="card-header">
    <span class="card-title"><%= card_title %></span>
    <div class="card-actions">
      <!-- Collapse Button -->
      <button type="button" class="btn p-2" data-bs-toggle="collapse" data-bs-target="#<%= id %>" aria-controls="<%= id %>" aria-expanded="true"><i class="fas fa-minus"></i></button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body collapse show" id="<%= id %>">
    <%= render card_partial %>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->