
<% postfix = (current_user.in_debt)? "in Debt": "not in Debt" %>
<h3> <%= "You are #{postfix}" %></h3>

<%= link_to 'Maintenance Debts', admin_maintenance_debts_path(user_id: current_user.id), class: 'btn' %>
<br><br>
<%= link_to 'Staffing Debts', admin_staffing_debts_path(user_id: current_user.id), class: 'btn' %>
<br><br>
You have staffed <%= current_user.amount_of_unassociated_staffing_jobs %> staffing <%= "#{ current_user.amount_of_unassociated_staffing_jobs == 1 ? 'slot that counts towards debt but has' : 'slots that count towards debt but have'}" %> not been associated with staffing debt yet.