<% if can? :read, Opportunity %>
    <h3><%= link_to 'Opportunities', admin_opportunities_path %></h3>
<% else %>
    <h3><%= "Opportunities" %></h3>
<% end %>

<% displayed_opportunities_count = 5 %>
<% opportunities = Opportunity.active %>

<% if opportunities.empty? then %>
  <div>
    <%= display_block("No Opportunities", false) %>
  </div>
<% else %>
  <% opportunities.first(displayed_opportunities_count).each do |opportunity| %>
    <p><%= link_to opportunity.title, admin_opportunity_path(opportunity) %></p>
  <% end %>

  <% if opportunities.count > displayed_opportunities_count %>
    <% link_text = "#{pluralize(opportunities.count - displayed_opportunities_count, 'more opportunity', 'more opportunities')} available." %>
    <%= link_to link_text, admin_opportunities_url %>
  <% end %>
<% end %>