<%# locals: () %>

<% upcoming_staffing = Admin::Staffing.accessible_by(current_ability).future.order('start_time ASC').first(5) %>

<ul class="flex flex-col">
  <% if upcoming_staffing.empty? %>
    <li class="list-row text-gray-500">There are no upcoming staffing slots.</li>
  <% else %>
    <% upcoming_staffing.each do |staffing| %>
      <li class="list-row py-1">
        <% total_positions = staffing.staffing_jobs.count %>
        <% filled_positions = staffing.filled_jobs %>
        <% unfilled_positions = total_positions - filled_positions %>
        <div class="flex items-center gap-2">
          <div class="w-1/4 shrink-0 text-gray-500"><%= staffing.start_time.strftime("%-d %B %H:%M") %>-<%= staffing.end_time.strftime("%H:%M") %></div>
          <div class="flex-1 flex justify-between items-center min-w-0 pl-0 pr-0">
            <%= link_to staffing.show_title, admin_staffing_path(staffing) %>
            <% if total_positions > 0 %>
              <% text_class = unfilled_positions > 0 ? 'text-danger' : 'text-gray-500' %>
              <small class="<%= text_class %> text-nowrap ml-2"><%= filled_positions %> of <%= total_positions %></small>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
