<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <%= render Admin::CardWidgetComponent.new(title: link_to("You are #{current_user.debt_message_suffix}", admin_debt_path(current_user.id)), card_class: current_user.in_debt ? "card-danger" : "card-success") do %>
          <%= render "debt_widget" %>
        <% end %>
        <%= render Admin::CardWidgetComponent.new(title: link_to("Opportunities", admin_opportunities_path)) do %>
          <%= render "opportunities_widget" %>
        <% end %>
        <%= render Admin::CardWidgetComponent.new(title: "Resources", flush: true) do %>
          <%= render "resources_widget" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= render Admin::CardWidgetComponent.new(title: link_to("News", admin_news_index_path)) do %>
          <%= render "news_widget" %>
        <% end %>
        <%= render Admin::CardWidgetComponent.new(title: link_to("Upcoming Shows", admin_shows_path)) do %>
          <%= render "shows_widget" %>
        <% end %>
        <%= render Admin::CardWidgetComponent.new(title: link_to("Open Proposal Calls", admin_proposals_calls_path)) do %>
          <%= render "proposals_widget" %>
        <% end %>
      </div>
      <div class="col-xl">
        <%= render Admin::CardWidgetComponent.new(title: link_to("Staffing", admin_staffings_path)) do %>
          <%= render "staffings_widget" %>
        <% end %>
        <% if current_user.has_role?("Committee") || can?(:manage, Admin::Staffing) %>
          <%= render Admin::CardWidgetComponent.new(title: "Committee Staffing") do %>
            <%= render "committee_staffing_widget" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
