<% # BOOTSTRAP NICETOHAVE: These alerts should be set in the controller instead, as should the ones below. Remember also close has been renamed to btn-close %>
<%# show an alert if the user hasn't filled in their name or phone number %>

<div class="content">
  <div class="container-fluid">
    <div class="row"> <% if can? :manage, :jobs %>
      <% unless delayed_job_running? then %>
      <div class="alert alert-danger">
        <strong>Oh Dear</strong>
        <p>
          The DelayedJob daemon doesn't seem to be running. It may have
          crashed (again).
        </p>
      </div>
      <% end %>
      <% if delayed_jobs(:failed).count > 0 then %>
      <div class="alert alert-danger">
        <strong>Stop. This is important</strong>
        <p>
          A DelayedJob has failed. Please review
          <%= link_to 'failed jobs', controller: "admin/job_control", action: "failed" %>.
        </p>
      </div>
      <% end %>
      <% end %></div>
    <div class="row">
      <div class="col-md">
        <% @user = current_user %>
        <% if @user.debt_message_suffix == "not in Debt" then @debt_card_class = "card-success" else @debt_card_class = "card-danger" %><% end %>
        <%= render 'card_widget', card_title: "Debt", card_partial: "debt_widget", card_class: @debt_card_class %>
        <%= render 'card_widget', card_title: "Opportunities", card_partial: "opportunities_widget", card_class: "" %>
      </div>
      <div class="col-md-6">
        <%= render 'card_widget', card_title: "News", card_partial: "news_widget", card_class: "" %>
        <%= render 'card_widget', card_title: "Upcoming Shows", card_partial: "shows_widget", card_class: "" %>
        <%= render 'card_widget', card_title: "Open Proposals", card_partial: "proposals_widget", card_class: "" %>
      </div>
      <div class="col-xl">
        <%= render 'card_widget', card_title: "Staffing", card_partial: "staffings_widget", card_class: "" %>
        <% if current_user.has_role?('Committee') || can?(:manage, Admin::Staffing) %>
        <%= render 'card_widget', card_title: "Committee Staffing", card_partial: "committee_staffing_widget", card_class: "" %>
        <% end %>
      </div>
    </div><!-- /.container-fluid -->
  </div>
</div>