<h1> <%= @message %></h1>

<%= link_to 'Maintenance Debts', admin_maintenance_debts_path(user_id: @user.id), class: 'btn' %>
<%= link_to 'Staffing Debts', admin_staffing_debts_path(user_id: @user.id), class: 'btn' %>
<br><br>
<% amount_of_unassociated_staffing_jobs_that_count_towards_debt = @user.staffing_jobs.unassociated_staffing_jobs_that_count_towards_debt.count%>
<%=  (@user == current_user)? "You have": "#{@user.name} has"%> staffed <%= amount_of_unassociated_staffing_jobs_that_count_towards_debt %> staffing <%= "#{amount_of_unassociated_staffing_jobs_that_count_towards_debt == 1 ? 'slot that is' : 'slots that are'}" %> not associated with any debt.
