<div class="card">
  <div class="card-header" id="jobHeading<%= index %>">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#jobCollapse<%= index %>" aria-expanded="true" aria-controls="jobCollapse<%= index %>">
        Job #<%= job.id %><%= " - #{job.description}" if job.description %>

        <span class="float-right">
          <%= link_to 'Retry', admin_jobs_retry_path(id: job.id), class: "btn btn-secondary btn-small mx-2" %>
          <%= link_to 'Remove', admin_jobs_remove_path(id: job.id), class: "btn btn-small btn-danger" %>
        </span>
      </button>
    </h2>
  </div>
  <div id="jobCollapse<%= index %>" class="collapse" aria-labelledby="jobHeading<%= index %>" data-parent="#jobsEnqueued">
    <div class="card-body">
      <dl>
        <dt>Priority</dt>
        <dd><%= job.priority %></dd>

        <dt>Attempts</dt>
        <dd><%= job.attempts %></dd>

        <% if job.respond_to?(:queue) && job.queue %>
          <dt>Queue</dt>
          <dd><%= job.queue %></dd>
        <% end %>

        <dt>Handler</dt>
        <dd>
          <pre><%= job.handler %></pre>
        </dd>

        <% if job.last_error %>
          <dt>Last Error</dt>
          <dd>
            <div class="backtrace">
              <pre><%= job.last_error %></pre>
            </div>
          </dd>
        <% end %>

        <% if job.run_at %>
          <dt>Run At</dt>
          <dd class="time"><%= l job.run_at %></dd>
        <% end %>

        <% if job.locked_at %>
          <dt>Locked At</dt>
          <dd class="time"><%= l job.locked_at %></dd>
        <% end %>

        <% if job.locked_by %>
          <dt>Locked By</dt>
          <dd><%= job.locked_by %></dd>
        <% end %>

        <% if job.failed_at %>
          <dt>Failed At</dt>
          <dd class="time"><%= l job.failed_at %></dd>
        <% end %>

        <dt>Created At</dt>
        <dd class="time"><%= l job.created_at %></dd>
      </dl>
    </div>
  </div>
</div>
