<h1><%= @title %></h1>

<p>
  <%= display_block("Submit Complaint Help", false) %>
</p>

<%= simple_form_for(@complaint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject %>

    <% # BOOTSTRAP: There is no margin here. Not touching it in case this gets fixed more generally, but could easily fix it with a <div class="mb3"></div> or something. %>
    <%= render "/shared/form/md_editor", f: f, field: :description, show_hint: true %>
  </div>

  <%= recaptcha_v3(action: 'submit_complaint') %>

  <p>
    <%= display_block("Submit Complaint Help Bottom", false) %>
  </p>

  <%= render '/shared/form/form_actions', f: f, include_index: false %>
<% end %>
