<% content_for :head do %>
  <%= stylesheet_link_tag    "admin/dashboard", :media => "all" %>
<% end %>

<% @title = 'Dashboard' %>

<h1>Bedlam Dashboard</h1>

<div class="dashboard">

  <% if can? :manage, :jobs %>
    <% if delayed_jobs(:failed).count > 0 then %>
      <div class="alert alert-error">
        <strong>Stop. This is important</strong>
        <p>
          A DelayedJob has failed. Please review <%= link_to 'failed jobs', admin_jobs_path(:action => "failed") %>.
        </p>
      </div>
    <% end %>
  <% end %>

<div class="gridster">
<ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
    <%= dashboard_widget('news') %>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('shows') %>
  </li>

  <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('proposals') %>
  </li>

  <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('staffings') %>
  </li>

  <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('resources') %>
  </li>

  <% if can? :manage, Venue %>
  <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('venues') %>
  </li>
  <% end %>

  <% if can? :read, Admin::EditableBlock %>
  <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('editable_blocks') %>
  </li>
  <% end %>

  <% if can? :read, User %>
  <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('users') %>
  </li>
  <% end %>

  <% if can? :manage, :jobs %>
  <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
    <%= dashboard_widget('delayed_jobs') %>
  </li>
  <% end %>

</ul>
</div>
