<div class="job control-group <%= "error" if (f.error(:name).present? || f.error(:file).present?) %>">
    <%= f.error :name %>
    <%= f.error :file %>

    <%= f.input :name, placeholder: "Attachment Name" %>

    <%= f.input_field :file %>

    <%= link_to_remove f %>
</div>