<div class="job control-group <%= "error" if (f.error(:name).present? or f.error(:file).present?) %>">

    <% if f.error(:name).present? %>
      <%= f.error :name %>
      <br />
    <% end %>
    <% if f.error(:file).present? %>
      <%= f.error :file %>
      <br />
    <% end %>

    <%= f.input_field :name, :placeholder => "Attachment Name" %>

    <%= f.input_field :file %>

    <% delete_text = '<i class="icon-trash"></i> Delete'.html_safe %>
    <%= f.link_to_remove delete_text, :class => "btn btn-danger" %>

</div>