<% group = group.presence ? group : 'Miscellaneous' %>
<% div_name = "editable_blocks_" + group.downcase.gsub(/[^a-zA-Z0-9\-]/,'') + "_table" %>
  
<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#<%= div_name %>" class="accordion-toggle" data-toggle="collapse" style="display: inline-block;">
      <%= group %>
    </a>
  </div>
  <div id="<%= div_name %>" class="accordion-body collapse" style="padding: 0px 10px;">
    <table class="table">
      <tr>
        <th>Name</th>

        <% if can? :edit, Admin::EditableBlock %>
          <th></th>
        <% end %>
      </tr>

      <% editable_blocks.each do |editable_block| %>
        <tr>
          <%= get_link editable_block, :show, wrap_tag: 'td' %>

          <%= get_link editable_block, :edit, wrap_tag: 'td', html_class: 'btn pull-right' %>
        </tr>
      <% end %>
    </table>
  </div>
</div>