<%# locals: () %>

<%= simple_horizontal_form_for [@editable_block] do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <%= f.input :name, hint: 'You should not change the name, unless the block is a page for about, resources, or get involved. If you still change it, the site will not be able to find the Editable Block and cannot show it where necessary.' %>

    <%= f.input :url, hint: 'The url is required to determine the location of the page for about, archives, resources, and get involved. Must NOT end with a "/".', input_html: { type: 'text' } %>

    <%= f.input :group, collection: Admin::EditableBlock.groups, include_blank: false, allow_custom_input: true, hint: "The section which the block should be displayed under in the admin site" %>

    <%= f.input :ordering, hint: 'The ordering in the subpage layer. Unused in other situations. From low to high.'%>

    <%= render "/shared/form/md_editor", f: f, field: :content, rows: 12, show_hint: true %>

    <div class="well form-inline">
      <%= render 'shared/form/sections/attachments', f: f, include_header: false %>

      <br />

      <small>
        You will need to link to these resources in the page above. <br />
        Use <code>[the link text](/attachments/myattachmentname)</code><br />
        You can use <code>[img description](/attachments/myattachmentname/thumb)</code> to generate a thumbnail version of the image. You can also manually specify its size by appending, for example, <code>{:style="height: 120px;"}</code><br />
        For images, paste a ! in front of the image (e.g. <code>![img description](/attachments/myattachmentname/thumb)</code>) to display an inline version of the image.
      </small>
    </div>
  </div>

  <% end %>
<% end %>