<%= simple_nested_form_for @editable_block, html: { multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% unless @editable_block.persisted? then %>
      <%= f.input :name %>
    <% end %>

    <%= f.input :group,
                hint: "The section which the block should be displayed under in the admin site",
                input_html: {
                    data: {
                       provide: "typeahead",
                       source: Admin::EditableBlock.groups
                    },
                    autocomplete: "off",
                } %>

    <%= render "/shared/form/md_editor", f: f, field: :content, rows: 12, show_hint: true %>

    <div class="well form-inline">
      <%= f.simple_fields_for :attachments %>

      <%= link_to_add(f, :attachments) %>

      <br />

      <small>
        You will need to link to these resources in the page above. <br />
        Use <code>[the link text](/attachments/myattachmentname)</code><br />
        For images, use <code>![img description](/attachments/myattachmentname/thumb)</code>
        to display a thumbnail.
      </small>
    </div>

  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>