<%= simple_form_for(@admin_editable_block) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-inputs">

    <% if not @admin_editable_block.persisted? then %>
    <%= f.input :name %>
    <% end %>

    <div class="tab-container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#input_field" data-toggle="tab">Input</a></li>
          <li><a href="#preview" data-toggle="tab">Preview</a></li>
        </ul>
            
        <div class="tab-content">
            <div id="input_field" class="tab-pane active">
                <%= f.input :content, :input_html => {:class => "md field", :rows => "10"} %>
                
                <p>Note: Text entered above will be rendered using <%= link_to 'Markdown', admin_help_markdown_path %>.</p>
            </div>
            
            <div id="preview" class="tab-pane"> </div>
            </div>
        </div>
    </div>
    
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>