<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_editable_block.name %>
</p>

<p>
  <b>Content:</b>
  <%= @admin_editable_block.content %>
</p>


<%= link_to 'Edit', edit_admin_editable_block_path(@admin_editable_block) %> |
<%= link_to 'Back', admin_editable_blocks_path %>
