<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.first_name %>,
    </p>
    <p>
      You have been added as <%= @team_member.position %> to the proposal "<%= @proposal.show_title %>".
    </p>
    <p>
      The proposal was submitted by <%= @creator.name %>
    </p>
    <p>
      You can view the proposal by visiting <%= admin_proposals_call_proposal_url(@proposal.call, @proposal) %>.
    </p>
    <p>
      Regards,
    </p>
    <p>
      The Bedlam Theatre Team
    </p>
  </body>
</html>