<div>
  <%= link_to admin_techie_families_url, class: 'btn' do %>
    <i class="fa fa-reorder"></i> Index
  <% end %>

  <%= link_to new_admin_techie_family_url, class: 'btn' do %>
    <i class="fa fa-plus"></i> Add Techie
  <% end %>
</div>

<div id="canvas" style="width: 940px; height: 2000px;"></div>
<script>
var g = new Graph();

var render = function(renderer, node) {
        /* the Raphael set is obligatory, containing all you want to display */
        var text = renderer.text(node.point[0] + 10, node.point[1] + 10, node.label);
        var dimensions = text.getBBox();

        var set = renderer.set().push(
            /* custom objects go here */
            renderer.rect(node.point[0] - (dimensions.width)/2, node.point[1], dimensions.width + 20, dimensions.height + 10).attr({"fill": "#feb", r : "12px", "stroke-width" : node.distance == 0 ? "3px" : "1px" })).push(
              text
            );

        text.toFront();
        return set;
    };

/* add a simple node */
<% @techies.each do |tech| %>
g.addNode("<%= tech.id %>", { render:render, label: "<%= tech.name.html_safe %>" });
<% end %>

<% @techies.each do |tech| %>
    <% tech.children.each do |child| %>
    g.addEdge("<%= tech.id %>", "<%= child.id %>", {directed: true});
    <% end %>
<% end %>

/* layout the graph using the Spring layout implementation */
var layouter = new Graph.Layout.Spring(g);
layouter.layout();

/* draw the graph using the RaphaelJS draw implementation */
var renderer = new Graph.Renderer.Raphael('canvas', g, 940, 1500);
renderer.draw();
</script>