<h1><%= @title %></h1>

<div class="row">
  <div class="col">
    <% if @user.avatar.present? %>
    <%= image_tag @user.avatar.variant(square_thumb_variant), class: "img-thumbnail zoomable float-end" %>
    <% end %>
    <%= render_markdown @user.bio %>

    <%= get_link @user, :edit, html_class: 'btn btn-primary' %>
  </div>
</div>

<h3>Projects</h3>
<% items = @team_memberships.collect { |team_membership| {
        event: team_membership.teamwork,
        paragraphs: [
          { content: team_membership.teamwork.date_range(true), small: true },
          { content: team_membership.position }
        ] } } %>

<%= render('shared/pages/public/events_grid', items: items, col_size: 12, link_to_admin_events: @link_to_admin_events) %>
