<% display_title = true if display_title.nil? %>
<% if display_title %>
  <h1><%= @title %></h1>
<% end %>

<div class="card">
  <div class="card-body overflow-hidden">
    <% if @user.avatar.present? %>
      <%# Proxy URL is safe here: UsersController#show authorizes :view_shows_and_bio, which is only granted for public_profile: true users %>
      <%= render 'shared/image', image: @user.avatar, variant: square_thumb_variant, proxy: true, eager_load: false, image_options: { class: "img-thumbnail zoomable float-end ms-3 mb-2" } %>
    <% end %>
    <%= render_markdown @user.bio %>
    <%= get_link @user, :edit, html_class: 'btn btn-primary' %>
  </div>
</div>

<h3>Projects</h3>
<% items = @team_memberships.collect { |team_membership| {
        event: team_membership.teamwork,
        paragraphs: [
          { content: team_membership.teamwork.date_range(true), small: true },
          { content: team_membership.teamwork.short_blurb },
          { content: "<b>Position</b>: #{team_membership.position}".html_safe, class: 'mt-auto' }
        ] } } %>

<%= render('shared/pages/public/events_grid', items: items, col_size: 12, link_to_admin_events: @link_to_admin_events) %>
