<h1><%= @title %></h1>

<% fields = { 
  name: @picture_tag.name
} %>

<%= render 'shared/basic_fields', fields: fields %>

<p>
  <h3>Description</h3>
  <%= render_markdown(@picture_tag.description) %>
</p>

<%= get_link_to_pictures_for_tag(@picture_tag)%>

<%= render '/shared/show_actions', object: @picture_tag %>
