<%# locals: (id: nil, carousel_items:, aspect_ratio: nil, fit_mode: "cover") -%>

<div class="carousel carousel-dark slide" data-controller="carousel carousel-equalizer" data-action="mouseenter->carousel#pause mouseleave->carousel#resume">
  <div class="carousel-indicators">
    <% carousel_items.each_with_index do |item, index| %>
      <button type="button" data-carousel-target="indicator" data-action="click->carousel#goTo" data-index="<%= index %>" aria-label="<%= item[:title] %>"
        <% if index == 0 %>class="active" aria-current="true"<% end %>></button>
    <% end %>
  </div>

  <div class="carousel-inner">
    <% carousel_items.each_with_index do |item, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>" data-carousel-target="item">
        <div class="carousel-image-wrapper<%= " carousel-image-wrapper--#{fit_mode}" if aspect_ratio %>" style="<%= "aspect-ratio: #{aspect_ratio};" if aspect_ratio %>">
          <% img = render('shared/image', image: item[:image].presence || item.image, variant: slideshow_variant, proxy: true) %>

          <% if item[:url].present? %>
            <%= link_to(img, item[:url]) %>
          <% else %>
            <%= img %>
          <% end %>
        </div>

        <div class="text-center d-block card w-100 carousel-caption-card" data-carousel-equalizer-target="caption">
          <div class="card-body">
            <h5><%= item[:url].present? ? link_to(item[:title], item[:url]) : item[:title] %></h5>
            <p><%= item[:tagline] %></p>
            <% if item[:url].present? || item[:pretix_slug].present? %>
              <div class="d-flex gap-2 justify-content-center flex-wrap">
                <% if item[:url].present? %>
                  <%= link_to "Details", item[:url], class: "btn btn-primary btn-sm" %>
                <% end %>
                <% if item[:pretix_slug].present? %>
                  <button class="btn btn-success btn-sm" data-action="click->pretix-modal#open" data-pretix-modal-slug-param="<%= item[:pretix_slug] %>" data-pretix-modal-name-param="<%= item[:title] %>">
                    Buy Tickets
                  </button>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-action="click->carousel#prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-action="click->carousel#next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
