<% card_class = '' if card_class.nil? %>
<% body_class = '' if body_class.nil? %>
<% header_class = '' if header_class.nil? %>
<% title_right = '' if title_right.nil? %>

<% id = "#{title.to_url}_container" if id.nil? %>
<% start_open = false if start_open.nil? %>

<div class="card <%= card_class %>">
  <div class="card-header <%= header_class %>">
    <% # BOOTSTRAP 5: Remove the data-toggle and data-target (without bs) attributes. %>
    <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= id %>" data-bs-toggle="collapse" data-bs-target="#<%= id %>"  role="button" aria-expanded="false" aria-controls="#<%= id %>" aria-expanded="false" aria-controls="collapseExample">
      <%= generate_icon_prefix('chevron-down', title) %>
    </a>
    <%= title_right %>
  </div>

  <div class="collapse<%= ' show' if start_open %>" id="<%= id %>">
    <div class="card-body <%= body_class %>" >
      <%= yield %>
    </div>
  </div>
</div>
