<% id = "#{title.to_url}_container" %>
<% start_open = false if start_open.nil? %>

<div class="card">
  <div class="card-header">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#<%= id %>" role="button" aria-expanded="false" aria-controls="#<%= id %>">
      <%= generate_icon_prefix('chevron-down', title) %>
    </button>
  </div>

    <div class="collapse<%= ' show' if start_open %>" id="<%= id %>">
      <div class="card-body" >
    <%= yield %>
    </div>
  </div>
</div>
