<%# locals: (pictures:, header_size: 3) -%>
<%# KEEP%>


<% if pictures.any? then %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag 'jquery.fancybox' %>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>

<div class="row">
  <div class="col">
    <% header_tag = "h#{header_size}"%>
    <<%= header_tag %>>Gallery</<%= header_tag %>>
    <i>Click on a thumbnail to see the image in full-size</i>

    <div class="row row-cols-auto row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <% pictures.includes(image_attachment: :blob).each do |picture| %>
        <div class="col">
          <div class="card h-100">
            <% img = image_tag(picture.fetch_image.variant(medium_variant), { class: "card-img-top h-auto" }.merge(variant_width_and_height_html(medium_variant))) %>
            <% url = url_for(picture.fetch_image) %>

            <%= link_to img, url, class: "fancybox", rel: 'group', title: picture.description, 'data-title' => picture.description %>
            
            <div class="card-body">
              <p class="card-text">
                <% gallery_name = picture.gallery_name %>
                <% begin %>
                  <%= link_to(gallery_name, picture.gallery) %>
                <% rescue NoMethodError %>
                  <%= gallery_name %>
                <% end %>
                - <%= picture.filename %>
              <p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<% # Add a margin below. %>
<div class="mb-3"></div>
