<% if pictures.any? then %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'jquery.fancybox' %>
    <%= javascript_include_tag 'jquery.fancybox' %>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
  </script>

  <% include_horizontal_line = true if include_horizontal_line.nil? %>

  <% if include_horizontal_line %>
    <hr />
  <% end %>

  <% header_size = 3 if header_size.nil? %>
  <% header_tag = "h#{header_size}"%>
  <<%= header_tag %>>Gallery</<%= header_tag %>>

  <ul class="thumbnails">
    <% pictures.includes(image_attachment: :blob).each_with_index do |picture, index| %>
      <li class="span3 gallery">
        <% img = image_tag picture.fetch_image.variant(thumb_variant) %>
        <% url = url_for(picture.fetch_image) %>

        <%= link_to img, url, class: "thumbnail fancybox", rel: 'group', title: picture.description, 'data-title' => picture.description %>
      </li>
    <% end %>
  </ul>
<% end %>