<%# locals: (attachment:, include_item_link: false) -%>

<% url = attachment_path(attachment.slug) %>

<%= render CardComponent.new(html_class: "mb-0 flex flex-col", flush: true) do %>
  <% fullsize_url = url_for(attachment.file) %>
  <% begin %>
    <% if attachment.file.previewable? %>
      <% img = image_tag attachment.file.preview(thumb_variant), class: "block w-full h-auto rounded-t" %>
    <% else %>
      <% img = image_tag attachment.file.variant(thumb_variant), class: "block w-full h-auto rounded-t" %>
    <% end %>

    <%= link_to(img, fullsize_url, { rel: 'group', title: attachment.name, 'data-title' => attachment.name }.merge(variant_width_and_height_html(thumb_variant))) %>
  <% rescue ActiveStorage::InvariableError, ActiveStorage::Unpreviewable %>
    <%# We can't generate a thumbnail, so show an icon. %>
    <% icon_class = case attachment.file.content_type
      when "application/pdf" then "fa-file-pdf"
      when "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword" then "fa-file-word"
      when "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/vnd.ms-excel" then "fa-file-excel"
      when "text/plain" then "fa-file-lines"
      else "fa-file"
    end %>
    <%= link_to fullsize_url, title: attachment.name do %>
      <i class="fas <%= icon_class %> fa-5x m-3 text-gray-500"></i>
    <% end %>
  <% end %>

  <div class="m-2 block mb-2">
    <%= link_to attachment.name, url, rel: 'group', title: attachment.name %>
    <% if include_item_link && attachment.item.present? %>
      <hr class="m-1">
      <% item_url = get_url_for_attachment_item(attachment) %>

      <%= link_to attachment.item_name, item_url %>
    <% end %>

    <% if attachment.attachment_tags.present? %>
      <hr class="m-1">
      <%= to_sentence(attachment.attachment_tags.map {|tag| link_to(tag.name, admin_attachment_tag_path(tag)) }) %>
    <% end %>
  </div>
<% end %>
