<% new_headers = [] %>

<% headers = headers.each do |header|
  if header.class == Symbol
    text = t('simple_form.labels.defaults.' + header.to_s)
    if @q.present?
      new_headers << sort_link(@q, header, text)
    else
      new_headers << text
    end
  else
    new_headers << header
  end
end %>

<% table_class = 'table-hover' if table_class.nil? %>

<div class="card">
  <div class="card-header">
  <h3 class="card-title""><%=@title%></h3>
    <div class="card-tools"> <%= paginate resources %>
    </div>
  </div>
  <div class="card-body">
    <table class="table  <%= table_class %>">
      <thead>
        <tr>
          <% new_headers.each do |header| %>
          <th scope="col"><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% field_sets.each do |fields| %>
        <tr>
          <% fields.each do |field| %>
          <td> <%= field %> </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer clearfix">
    <%= paginate(resources) %>
  </div>
</div>