<h1><%= @title %></h1>

<% fields = { 
  name: @event_tag.name
} %>

<%= render 'shared/basic_fields', fields: fields %>

<p>
  <h3>Description</h3>
  <%= render_markdown @event_tag.description %>
</p>

<%= render '/shared/show_actions', object: @event_tag %>

<%= get_link Show, :index, link_text: 'All Shows With Tag', query_params: { 'q[event_tags_id_eq]' => @event_tag.id } %>
