<%# locals: (event:) %>

<div class="flex flex-col md:flex-row gap-4">
  <div class="w-full<%= ' md:w-2/3' if event.team_members.any? %>">
    <%= render CardComponent.new(title: "Description", html_class: "mb-0") do %>
      <%= render_markdown event.publicity_text %>

      <% if event.pretix_shown %>
        <%= render 'shared/pretix_widget', event: event %>
      <% end %>

      <% if event.content_warnings.present? %>
        <div class="mt-4">
          <%= render CollapsibleSectionComponent.new(title: 'Content Warnings') do %>
            <%= render_markdown event.content_warnings %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if event.team_members.any? %>
    <div class="w-full md:w-1/3">
      <%= render CardComponent.new(title: "Cast and Crew", html_class: "h-full mb-0") do %>
        <%= render '/shared/admin_show_team_members', team_members: event.team_members.ordered %>
      <% end %>
    </div>
  <% end %>
</div>

<% # Margin here so it does not mess with the h-100 on the cards. %>
<div class="mb-3"></div>
