<h1><%= @title %></h1>

<% if @url.present? %>
  <%= render '/events/search_form', url: @url %>
<% end %>

<div class="row">
  <div class="col">
    <% if @events.empty? %>
    There are no upcoming ...
    <% else %>
      <ul class="list-group list-group-flush">
        <% @events.each do |event| %>
          <li class="list-group-item">
            <% # BOOTSTRAP: Prevent content from moving after the image loads. %>
            <% image = image_tag event.fetch_image.variant(thumb_variant), class: 'img-fluid' %>
            <%= link_to image, event, class: "float-start img-thumbnail me-3 h-100" %>

            <h4 class="card-title"><%= link_to event.name, event %></h4>

            <p class="card-text"><small class="text-muted"><%= event.date_range true %></small></p>

            <p class="card-text"><%= event.short_blurb %></p>

            <p><%= link_to 'View Details', event, class: 'btn btn-primary' %></p>
          </li>
        <% end %>
      </ul>

      <%= paginate(@events) %>
    <% end %>
  </div>
</div>
