<h1><%= @title %></h1>

<div class="card mb-3">
  <div class="card-header">
    <small class="text-muted"><%= l(@news.publish_date, format: :longy) %> by <%= link_to(@news.author.name(@current_user), news_index_url('q[author_full_name_cont]' => @news.author.name(@current_user))) %></small>
  </div>

  <%= image_tag @news.fetch_image.variant(medium_variant), {class: "card-img-top h-auto"}.merge(variant_width_and_height_html(medium_variant)) %>

  <div class="card-body">
    <%= render_markdown @news.body %>

    <% if @news.created_at != @news.updated_at %>
      <p class="card-text"><small class="text-muted">Last updated: <%= l @news.updated_at, format: :longy %></small></p>
    <% end %>
  </div>
</div>
