<p id="notice"><%= notice %></p>

<article>
    <header>
        <h2><%= @news.title %></h2>
        <time datetime="<%= @news.updated_at.strftime("%FT%T%:z") %>"><%= l @news.updated_at, :format => :long %></time>
    </header>
    <p><%= simple_format @news.body %></p>
</article>

<%= link_to 'Back', news_index_path %>
