<h1><%= @title %></h1>
<p><small class="text-muted"><%= l(@news.publish_date, format: :longy) %> by <%= link_to(@news.author.name(@current_user), news_index_url('q[author_full_name_cont]' => @news.author.name(@current_user))) %></small></p>

<% # BOOTSTRAP: Prevent content jump. %>
<div class="card mb-3">
  <%= image_tag @news.fetch_image.variant(medium_variant), class: "card-img-top" %>

  <div class="card-body">
    <%= render_markdown @news.body %>

    <% if @news.created_at != @news.updated_at %>
      <p class="card-text"><small class="text-muted">Last updated: <%= l @news.updated_at, format: :longy %></small></p>
    <% end %>
  </div>
</div>
