<article>
    <header>
        <h2><%= @title %></h2>
        <p>
          <time datetime="<%= @news.publish_date.strftime("%FT%T%:z") %>"><%= l @news.publish_date, format: :longy %></time>
          by <span class="author"><%= @news.author.name %></span>
        </p>
    </header>

    <%= image_tag @news.fetch_image.variant(medium_variant), class: "float-right span3" %>

    <div><%= render_markdown @news.body %></div>

    <% if @news.publish_date != @news.updated_at %>
    <p>
      <small>
        Last updated:
        <%= l @news.updated_at, format: :longy %>
      </small>
    </p>
    <% end %>

</article>

<%= link_to 'Back', :back %><% if can? :edit, @news %> | <%= link_to 'Edit', edit_admin_news_path(@news) %><% end %>
