<div class="control-group fields">

    <%= render :layout => "admin/shared/md_editor", :locals => { :f => f, :field => :body, :rows => 17 } do %>
      <%= f.input :reviewer %>
      <%= f.input :organisation %>
      <%= f.input :review_date, :order => [:day, :month, :year] %>
      <%= f.input :rating, :title => "Max 5. Halves allowed." %>

      <% remove_text = '<i class="fa fa-trash"></i> Delete Review'.html_safe %>
      <%= f.link_to_remove remove_text, :class => "btn btn-danger" %>
    <% end %>

    <hr />
</div>