<% @title = 'Shows' %>

<h1>Shows</h1>

<%= display_block("Shows (Members Face)", true) %>

<br />
<br />

<table class="table">
	<tbody>
		<tr>
			<th>Name</th>
			<th>Slug</th>
			<th></th>
            <th></th>
		</tr>
		<% @shows.each do |show| %>
		<tr>
			<td><%= link_to show.name, admin_show_path(show) %></td>
			<td><%= show.slug %></td>

            <td>
            <% if can? :edit, show %>
            <%= link_to 'Edit', edit_admin_show_path(show)%>
            <% end %>
            </td>

            <td>
            <% if can? :delete, show %>
            <%= link_to 'Destroy', admin_show_path(show), method: :delete, data: { "confirm" => "Deleting " + show.name,
                                                                                   "detail"  => "Be warned. Things may break if you continue. <br /> Please type the name of the show below if you are absolutely sure you want to do this.",
                                                                                   "type-confirm" => show.name } %>
            <% end %>
            </td>
		</tr>
		<% end %>
	</tbody>
</table>

<% if can? :create, Show %>
<%= link_to 'Add Show', new_admin_show_path, :class => "btn" %>
<% end %>