<h1><%= @show.name %></h1>
<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Tagline</th>
			<td><%= @show.tagline %></td>
		</tr>
		<tr>
			<th>URL Slug</th>
			<td><%= @show.slug %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= @show.description.html_safe %></td>
		</tr>
		<tr>
			<th>XTS Pro ID</th>
			<td><%= @show.xts_id %></td>
		</tr>
		<tr>
			<th>Public?</th>
			<td><%= {true => "Yes", false => "No", nil => "No"}[@show.is_public] %>
	</tbody>
</table>
<%= link_to 'Edit', edit_admin_show_path(@show.id), class: 'btn'%>