<% @title = 'Show Details' %>

<h1><%= @show.name %></h1>
<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Tagline</th>
			<td><%= @show.tagline %></td>
		</tr>
		<tr>
			<th>URL Slug</th>
			<td><%= @show.slug %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= render_markdown @show.description %></td>
		</tr>
		<tr>
			<th>XTS Pro ID</th>
			<td><%= @show.xts_id %></td>
		</tr>
		<tr>
			<th>Public?</th>
			<td><%= {true => "Yes", false => "No", nil => "No"}[@show.is_public] %>
        </tr>
        <tr>
            <th>Image</th>
            <td><%= image_tag @show.image.url(:medium) %></td>
        </tr>
        <tr>
            <th>Team</th>
            <td>
                <% @show.team_members.each do |team_member| %>
                  <p>
                  <b><%= team_member.position %></b>

                  <% u = team_member.user %>
                  <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
                  </p>
                <% end %>
            </td>
        </tr>
	</tbody>
</table>
<%= link_to 'Edit', edit_admin_show_path(@show), class: 'btn'%>