<%# locals: (f:, dynamic: nil) %>

<%= render layout: '/shared/form/fields_for_template', locals: { 
        f: f,
        attributes: [:image, :gallery, :description]
    } do %>
    <%= f.hidden_field :id %>

    <%= f.association :category %>

    <%= render "/shared/form/md_editor", f: f, field: :description %>

    <%= render 'shared/form/file_field', f: f, field_name: :image, hint: 'This is the main image that will appear in the listing for this category.' %>

    <p>Please try to limit the amount of pictures you upload to 5.</p>
    <%= render '/shared/form/sections/gallery', f: f %>

    <br>
    <%= link_to_remove f, link_text: 'Remove Category' %>
<% end %>
