<%# locals: () %>

<%= simple_horizontal_form_for [:admin, @profile] do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <%= f.input :name %>

    <%= render('shared/form/user_field', f: f) if can?(:manage, MarketingCreatives::Profile) %>

    <%= render "/shared/form/md_editor", f: f, field: :about, rows: 12, show_hint: true %>
    
    <%= render "/shared/form/md_editor", f: f, field: :contact, rows: 12, show_hint: true %>

    <div class="categories">
      <h3>Categories</h3>
      <%= render('shared/form/sections/nested_fields', f: f, association_name: :category_infos, partial_name: 'category_info_fields') %>
    </div >
  <% end %>
<% end %>
