<%= render 'shared/pages/public/basic_info', header: @venue.name, image: @venue.fetch_image, tagline: @venue.tagline, details: [
  { key: 'Address', value: render_markdown(@venue.address) }
] %>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><h4>Description</h4></div>
      <div class="card-body">
        <%= render_markdown @venue.description %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <% if @venue.location %>
      <div class="card">
        <div class="card-header"><h4>Map</h4></div>
        <%= venue_map(@venue) %>
      </div>
    <% end %>
  </div>
</div>

<h3 class="mt-3">Shows at <%= @venue.name %></h3>

<% if @current_shows.empty? %>
  <p>There are no upcoming EUTC shows at <%= @venue.name %>.</p>
<% else %>
  <% items = @current_shows.collect { |event| {
    event: event,
    paragraphs: [
      { content: event.date_range(true), small: true },
      { content: event.short_blurb },
      { content: link_to('View Details', event, class: 'btn btn-primary'), class: 'mt-auto'}
    ] } } %>

  <%= render('shared/pages/public/events_grid', items: items, col_size: 12) %>
<% end %>

<p class="mb-3"><%= link_to('View Past Shows', archives_events_url('q[venue_id_eq]' => @venue.id)) %>

<%= render '/shared/gallery', pictures: @venue.pictures.accessible_by(current_ability, :show) %>
