<% content_for :head do %>
  <%= javascript_include_tag "jquery.lightbox-0.5" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5", :media => "all" %>
<% end %>

<div class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag @venue.image.url(:slidevenue) %>
      <div class="carousel-caption">
        <h1><%= @venue.name %></h1>
        <p><%= @venue.tagline %></p>
      </div>
    </div>
  </div>
</div>

<%= render_markdown @venue.description %>

<hr />

<% if @venue.shows.current.count > 0 then %>
  <h3>Shows at <%= @venue.name %></h3>

  <div class="row">
  <% @venue.shows.first(2).each do |show| %>
    <div class="span4">
      <div>
        <%= link_to (image_tag show.image.url(:medium)), show_path(show) %>
        <h4><%= link_to show.name, show_path(show) %></h4>
        <p><%= show.tagline %> <%= link_to 'Read More', show_path(show) %></p>
      </div>
    </div>
    <% end %>
  </div>

  <hr />
<% end %>

<% if @venue.pictures.count > 0 then %>
  <h3>Gallery</h3>

  <ul class="gallery thumbnails">
    <% @venue.pictures.each do |picture| %>
      <li class="span2">
      <% img = image_tag picture.image.url(:thumb) %>
      <%= link_to img, picture.image.url(:display), :class => "thumbnail", :title => (picture.description) %>
      </li>
    <% end %>
  </ul>

  <script type="text/javascript">
  $(function() {
    $('.gallery a').lightBox({
      imageLoading:  '/images/lightbox-ico-loading.gif',
      imageBtnClose: '/images/lightbox-btn-close.gif',
      imageBtnPrev:  '/images/lightbox-btn-prev.gif',
      imageBtnNext:  '/images/lightbox-btn-next.gif',
      imageBlank:    '/images/lightbox-blank.gif'
    });
  });
  </script>
<% end %>