<%= simple_nested_form_for [:admin, @venue] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <%= f.input :tagline %>

    <%= render "/shared/form/md_editor", f: f, field: :description, show_hint: true %>

    <%= f.input :location, label: "Location - #{link_to('About Setting Locations', admin_help_venue_location_path, target: '_blank')}".html_safe %>
    
    <%= render 'shared/form/file_field', f: f, field_name: :image %>

    <%= render '/shared/form/sections/gallery', f: f %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
