<h1><%= @title %></h1>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Tagline:</b>
  <%= @venue.tagline %>
</p>

<p>
  <b>Location:</b>
  <%= @venue.location %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @venue.image&.variant(slideshow_variant)) %>
</p>

<p>
  <b>Description:</b>
  <%= render_markdown @venue.description %>
</p>

<%= render 'shared/show_actions', object: @venue %>
