<h1><%= @title %></h1>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Tagline:</b>
  <%= @venue.tagline %>
</p>

<p>
  <b>Location:</b>
  <%= @venue.location %>
</p>

<p>
  <b>Image:</b>
    <% if @venue.image.attached? && !@venue.image.filename.to_s.starts_with?(ActiveStorageHelper::PREFIX) %>
    <p><%= image_tag @venue.fetch_image.variant(slideshow_variant) %></p>
  <% else %>
    No image
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= render_markdown @venue.description %>
</p>

<%= render 'shared/show_actions', object: @venue %>
