<div class="card <%= @card_class %>"
     data-controller="collapsible"
     data-collapsible-open-value="<%= @start_open %>">
  <div class="card-header">
    <span class="card-title"><%= @title %></span>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-action="collapsible#toggle">
        <i class="fas fa-minus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div data-collapsible-target="content">
    <% if @flush %>
      <%= content %>
    <% else %>
      <div class="card-body">
        <%= content %>
      </div>
    <% end %>
  </div>
</div>
