<div class="card <%= @card_class %>"
     data-controller="collapsible"
     data-collapsible-open-value="<%= @start_open %>">
  <div class="card-header <%= @header_class %>" data-action="click->collapsible#toggle" style="cursor: pointer;">
    <span class="card-title"><%= @title %></span>
    <% if @title_right %>
      <%= @title_right %>
    <% end %>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" tabindex="-1">
        <span class="when-closed"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <span class="when-open"><i class="fas fa-minus" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>

  <div data-collapsible-target="content" class="<%= 'hidden' unless @start_open %>">
    <% if @flush %>
      <%= content %>
    <% else %>
      <div class="card-body">
        <%= content %>
      </div>
    <% end %>
  </div>
</div>
