<% @title = 'Membership Cards' %>

<h1>Membership Cards</h1>

<table class="table">
  <tr>
    <th>Card Number</th>
    <th>Member Name</th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td>
      <%= link_to card.card_number, admin_membership_card_path(card) %>
    </td>
    <td>
      <% unless card.user.nil? %>
        <%= link_to card.user.name, admin_user_path(card.user) %>
      <% end %>
    </td>

    <td>
      <% if can? :delete, card %>
        <%= link_to 'Delete', admin_membership_card_path(card), method: :delete, data: { "confirm" => "Deleting card " + card.card_number,
                                                                                         "detail"  => "Are you sure you wish to continue?" } %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate(@cards) %>

<% if can? :create, MembershipCard %>
  <%= link_to admin_membership_cards_path, :class => 'btn', method: :post do %>
    <i class="fa fa-plus"></i> Create New Card
  <% end %>
<% end %>