<% @title = 'Membership Cards' %>

<h1>Membership Cards</h1>

<table class="table">
  <tr>
    <th>Card Number</th>
    <th>Member Name</th>
    <% if can? :destroy, MembershipCard%>
      <th></th>
    <% end %>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td>
      <%= link_to card.card_number, admin_membership_card_path(card) %>
    </td>

    <td>
      <%= user_link(card.user, false) %>
    </td>

    <%= get_link card, :destroy, wrap_tag: 'td '%>
  </tr>
<% end %>
</table>

<%= will_paginate(@cards) %>

<%= get_link MembershipCard, :new %>
