<%= simple_form_for [:admin, @opportunity] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @opportunity.approved %>
      <small>
        <% if can? :approve, @opportunity %>
          Note: Because you can approve opportunities, this opportunity will stay approved after editing it.
        <% else %>
          Note: Editing this opportunity will result in it being hidden until it is re-approved.
        <% end %>
      </small>
    <% end %>
    
    <%= f.input :title %>

    <%= f.input :expiry_date %>

    <%= render "/shared/form/md_editor", f: f, field: :description, rows: 12, show_hint: true %>

    <%= render '/shared/form/public_private_switch', f: f, field_symbol: :show_email, off_colour: 'danger', off_label: 'No Email' %>
    
    <p>
      Turning this on will result in your email (<%= current_user.email %>) being publicly visible. 
      If you do not want this, please include an alternative method to contact you in the description.
    </p>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
