<%= simple_form_for [:admin, @opportunity] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% unless (can? :approve, @opportunity) || @opportunity.approved == false  %>
      <small>
        Note: Editing this opportunity will result in it being removed until it is re-approved.
      </small>
    <% end %>

    <%= f.input :title %>

    <%= f.input :expiry_date %>

    <%= render :layout => "admin/shared/md_editor", :locals => { :f => f, :field => :description, :rows => 12 } do %>
      <%= render "admin/shared/md_hints" %>
    <% end %>

    <div class="control-group">
      <%= f.label :show_email %>

      <div class="controls switch" data-on="success" data-on-label="Email Link" data-off="danger" data-off-label="No Link" style="width: 200px;">
        <%=
           f.input_field :show_email,
                          boolean_style: :inline
        %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= link_to 'Cancel', admin_opportunities_path, :class => "btn" %>
  </div>
<% end %>
