<h2><%= @opportunity.title %></h2>
<div>
  <%= render_markdown @opportunity.description %>
</div>

<% if @opportunity.show_email %>
  <p>
    Please contact <%= @opportunity.creator.name %> by clicking <%= mail_to @opportunity.creator.email, 'here' %>.
  </p>
<% end %>

<% if can? :approve, @opportunity %>
  <br />
  <br />

  <% approve_text = '<i class="icon-ok"></i> Approve'.html_safe %>
  <%= link_to approve_text, approve_admin_opportunity_path(@opportunity), :method => :put, :class => "btn btn-success" %>

  <% reject_text = '<i class="icon-remove"></i> Reject'.html_safe %>
  <%= link_to reject_text, reject_admin_opportunity_path(@opportunity), :method => :put, :class => "btn btn-danger" %>
<% end %>