<h1><%= @title %></h1>

<div>
  <% fields = {
      expiry_date: l(@opportunity.expiry_date, format: :longy),
      approved_by: (@opportunity.approver.nil? ? 'Not Approved' : @opportunity.approver.name if can?(:edit, @opportunity) || can?(:approve, @opportunity)),
      active: @opportunity.active? ? 'This opportunity is currently active' : 'This opportunity is not active. An opportunity is only active when the expiration date has not been reached and it has been approved.'
  } %>

  <%= render 'shared/basic_fields', fields: fields %>
</div>

<div>
  <h3>Description</h3>
  <%= render_markdown @opportunity.description %>
</div>

<% if @opportunity.show_email %>
  <p>
    You can contact <%= @opportunity.creator.name %> by emailing them at <%= mail_to @opportunity.creator.email %>.
  </p>
<% end %>

<br />
<%= render 'shared/show_actions', object: @opportunity %>

<%= get_link @opportunity, :approve, condition: !@opportunity.approved %>
<%= get_link @opportunity, :reject, condition: @opportunity.approved %>
