<%= simple_horizontal_form_for [:admin, @techie] do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <%= f.input :name %>
    
    <%- # parent_fields and child_fields are a wrapper around relations_field that needs to exist so link_to_add works properly. %>

    <div id="parents">
      <h3>Parents</h3>
      
      <%= f.simple_fields_for :parents do |parent| %>
        <%= render 'parent_fields', f: parent %>
      <% end %>

      <%= link_to_add f, :parents %>
    </div>

    <div id="childrens">
      <h3>Children</h3>

      <%= f.simple_fields_for :children do |child| %>
        <%= render 'child_fields', f: child %>
      <% end %>

      <%= link_to_add f, :children %>
    </div>
  <% end %>
<% end %>
