<% content_for :head do %>
  <style type='text/css'>
    svg,
    #graph-container {
      width: 500px; 
      height: 500px;
      border:1px solid green;
      background-color: #CCC;

    }
  </style>
<% end %>

<div>
  <%= get_link Techie, :index, html_class: 'btn btn-primary' %>

  <%= get_link Techie, :new, html_class: 'btn btn-secondary' %>
</div>

<div class="row">
    <div class="span12">
        <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :tree_admin_techies, html: { id: 'search', class: 'form-search form-inline'} do |f| %>
            <%= f.select :id_eq, options_from_collection_for_select(Techie.all, "id", "name", @q.id_eq), include_blank: true %>

            <%= f.submit :Search, class: 'btn btn-secondary' %>
        <% end %>
    </div>
</div>

<div id="techie-tree-container"></div>