<%= render('shared/quick_actions_card') do %>
  <%= get_link Techie, :index, variant: :primary %>
  <%= get_link Techie, :new, variant: :secondary %>
<% end %>

<div class="card mt-3">
  <div class="card-header flex items-center gap-2">
    <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :tree_admin_techies,
          html: { class: 'flex items-center gap-2 mb-0' } do |f| %>
      <%= f.input :id_eq,
            collection: Techie.all.select('id', 'name'),
            include_blank: true,
            label: false,
            wrapper_html: { class: 'mb-0' },
            input_html: { style: 'min-width: 220px' } %>
      <%= f.submit 'Search', class: btn_classes(:secondary) %>
      <% if @selected_id.present? %>
        <%= link_to 'Clear', tree_admin_techies_path, class: btn_classes(:secondary) %>
      <% end %>
    <% end %>
  </div>

  <div class="card-body p-0 position-relative"
       data-controller="techie-graph"
       data-techie-graph-nodes-value="<%= @graph_data[:nodes].to_json %>"
       data-techie-graph-edges-value="<%= @graph_data[:edges].to_json %>"
       data-techie-graph-selected-value="<%= @selected_id %>"
       data-techie-graph-cache-version-value="<%= @cache_version %>">
    <div data-techie-graph-target="canvas" style="height: calc(100vh - 260px);"></div>
    <div data-techie-graph-target="legend"
         class="px-3 py-2 border-top flex flex-wrap gap-3"
         style="font-size: 11px;"></div>
  </div>
</div>
