<%# locals: (home_opportunities:) %>
<% cache [home_opportunities, Company.maximum(:updated_at)] do %>
  <%= render CardComponent.new(title: "Opportunities", flush: true) do |c| %>
    <% c.with_footer do %>
      <div class="flex justify-between items-center">
        <%= link_to "View all opportunities →", get_involved_opportunities_path %>
        <% if can?(:create, Opportunity) %>
          <%= link_to "Submit an Opportunity", new_get_involved_opportunity_path, class: btn_classes(:primary, :sm) %>
        <% end %>
      </div>
    <% end %>
    <% if home_opportunities.empty? %>
      <div class="p-4">
        <%= display_block("No Opportunities", false) %>
      </div>
    <% else %>
      <ul class="flex flex-col divide-y divide-gray-100 px-4">
        <% home_opportunities.each do |opportunity| %>
          <li>
            <%= render OpportunityCardComponent.new(opportunity: opportunity, heading_url: get_involved_opportunities_path) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
