<% # TODO: Cache the carousel %>
<% # TODO: Cache the news %>
<% # TODO: Cache the what's on %>
<% # TODO: In general, cache editable blocks %>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= render 'shared/carousel', id: 'homeCarousel', carousel_items: @carousel_items %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <% # Note that this mt-3 is repeated on the col that has the news so that they both have equal margins and so that on mobile there is still a margin between what's on and news. %>
    <div class="row mt-3">
      <div class="col">
        <%= display_block("Home", false) %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>What's On</h3>
      </div>
    </div>
    
    <% if @events.empty? %>
      <%= display_block("Home - No Events On", false) %>
    <% else %>
      <% items = @events.collect { |event| {
        event: event,
        paragraphs: [
          { content: event.date_range(true), small: true },
          { content: event.short_blurb },
          { content: link_to('View Details', event, class: 'btn btn-primary') }
        ] } } %>

      <%= render('shared/pages/public/events_grid', items: items, col_size: 8) %>
    <% end %>
  </div>

  <div class="col-md">
    <div class="card mt-3">
      <h3 class="card-header">News</h3>

      <ul class="list-group list-group-flush">
        <% @news.each do |news_item| %>
          <li class="list-group-item">
            <h5 class="card-title"><%= link_to news_item.title, news_path(news_item) %></h5>

            <p class="card-text"><small class="text-muted"><%= l(news_item.publish_date, format: :longy) %> - By <%= news_item.author.name(@current_user) %></small></p>

            <p class="card-text"><%= truncate_markdown(news_item.body, 140) %></p>

            <p class="card-text"><%= link_to 'Read More', news_path(news_item), class: 'btn btn-primary' %></p>
          </li>
        <% end %>
      </ul>

      <div class="card-footer">
        <%= link_to 'Read all news', news_index_path %>
      </div>
    </div>
  </div>
</div>
