<div class="row">
  <div class="col-md-8">
    <%= render 'shared/carousel', id: 'homeCarousel', carousel_items: combine_events_with_carousel_items(@carousel_events, @standard_carousel_items) %>

    <div class="card">
      <div class="card-body">
        <p class="card-text">
        <%= display_block("Home", false) %>
        </p>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header"><h4>What's On</h4></div>
      <div class="card-body">
        <% if @events.empty? %>
          <%= display_block("Home - No Events On", false) %>
        <% else %>
          <% items = @events.collect { |event| {
            event: event,
            paragraphs: [
              { content: event.date_and_price, small: true },
              { content: event.short_blurb },
              { content: link_to('View Details', event, class: 'btn btn-primary'), class: 'mt-auto' }
            ] } } %>

          <%= render('shared/pages/public/events_grid', items: items, col_size: 8) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card mt-md-0 mt-sm-3">
        <div class="card-header"><h4>Book Now</h4></div>
        <div class="card-body">
          <p class="card-text">
            Please note only some events are shown below. Events in some other venues might be available on their own booking sites. If in doubt, please check the event page directly!
            <link rel="stylesheet" type="text/css" href="https://eutc.azureedge.net/styles/pretix-widget.css">
            <script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>
            <pretix-widget event="https://tickets.bedlamtheatre.co.uk/" style="list"></pretix-widget>
          </p>
        </div>
      </div>

    <div class="card mt-3">
      <div class="card-header"><h4>News</h4></div>

      <ul class="list-group list-group-flush">
        <% @news.each do |news_item| %>
          <li class="list-group-item">
            <h5 class="card-title"><%= link_to news_item.title, news_path(news_item) %></h5>

            <p class="card-text"><small class="text-muted"><%= l(news_item.publish_date, format: :longy) %> by <%= news_item.author.name(@current_user) %></small></p>

            <p class="card-text"><%= truncate_markdown(news_item.body, 140) %></p>

            <p class="card-text"><%= link_to 'Read More', news_path(news_item), class: 'btn btn-primary' %></p>
          </li>
        <% end %>
      </ul>

      <div class="card-footer">
        <%= link_to 'Read all news', news_index_path %>
      </div>
    </div>
  </div>
</div>
