<div class="row">
  <div class="span8">
    <div id="showSlider" class="carousel slide">

      <div class="carousel-inner">

        <% @shows.each do |show| %>

          <div class="<%= "active" if show == @shows.first %> item">
            <%= link_to (image_tag show.image.url(:slideshow)).html_safe, show_path(show) %>
            <div class="carousel-caption">
              <%= link_to "<h4>#{show.name}</h4>".html_safe, show_path(show) %>
              <p><%= show.tagline %> – <span class="show-date"><%= show.date_range %></span></p>
            </div>
          </div>

        <% end %>

        <% if @shows.count == 0 then %>
          <%# between 1st July and 1st September, advertise Bedlam Fringe %>
          <% year = Date.today.year %>
          <% if (Date.new(year, 7, 01)..Date.new(year, 9, 01)).include_with_range? Date.today then %>
            <a href="http://www.bedlamfringe.co.uk">
              <img src="/images/fringe.png" />
            </a>
            <div class="carousel-caption">
              <p>
                During the Edinburgh Festival Fringe, details of shows can be found on the Bedlam Fringe website.
              </p>
            </div>
          <% else %>
            <img src="/images/no-shows.png" />
          <% end %>
        <% end %>

      </div>

      <!-- Carousel nav -->
      <% if @shows.count > 1 then %>
          <a class="carousel-control left" href="#showSlider" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#showSlider" data-slide="next">&rsaquo;</a>
      <% end %>
    </div>

    <div class="row content">
      <% @news.first(2).each do |news| %>
      <div class="span4">
        <div>
          <%= link_to (image_tag news.image.url(:medium)), news_path(news) %>
          <h4><%= link_to news.title, news_path(news) %></h4>
          <p><%= render_markdown (truncate(news.body, length: 80)) %> <%= link_to 'Read More', news_path(news) %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="span4">
    <h3><%= link_to '@BedlamTheatre', 'https://twitter.com/bedlamtheatre' %></h3>
    <div>
      <% twitter_timeline.each do |tweet| %>
        <p><small><%= tweet.text %></small></p>
      <% end %>
    </div>
    <h3>Newsletter</h3>
    <p>Sign up to receive information about Bedlam Theatre and our shows.</p>
    <form class="form-inline">
      <input type="text" class="input-medium" /><button type="submit" class="btn">Sign up</button>
    </form>
  </div>
</div>