<%# locals: (paginator:, current_page: nil, per_page: nil, remote: nil, total_pages: nil, window: nil, left: nil, right: nil) %>

<%= paginator.render do %>
  <nav aria-label="Page Navigation" class="mb-1">
    <ul class="pagination pagination-sm m-0 <%= 'float-right' if @admin_site %>">
      <%= first_page_tag %>
      <%= prev_page_tag %>

      <li class="page-item">
        <span >Page: </span>
      </li>
      <li class="page-item">
        <%= tag.input type: "number", class: "page-link page-jump-input", value: current_page, min: 1, max: total_pages, data: { controller: "page-jump", action: "keydown.enter->page-jump#jump blur->page-jump#jump" }, autocomplete: "off" %>
      </li>
      <li class="page-item disabled">
        <span> of <%= total_pages %></span>
      </li>
      <%= next_page_tag %>
      <%= last_page_tag %>
    </ul>
  </nav>
<% end %>
