<%# locals: (paginator:, current_page: nil, per_page: nil, remote: nil, total_pages: nil, window: nil, left: nil, right: nil) %>

<%= paginator.render do %>
  <nav aria-label="Page Navigation">
    <ul class="pagination pagination-sm m-0 <%= 'float-right' if @admin_site %>">
      <%= first_page_tag %>
      <%= prev_page_tag %>
      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end %>
      <% end %>
      <%= next_page_tag %>
      <%= last_page_tag %>
    </ul>
  </nav>
<% end %>
