<% content_for :head do %>
<%= stylesheet_link_tag "admin", media: "all" %>
<% end %>

<div class="container">
  <div class="row">
    <div id="login_form">
      <div class="col">
        <h2>Existing Members</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, input_html: { nojsvalidation: 'true' } %>
          <%= f.input :password, required: false, input_html: { nojsvalidation: 'true' } %>
          <%= f.input :remember_me, as: :boolean, input_html: { nojsvalidation: 'true' } if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Log in", class: "btn btn-primary"%>
        </div>
        <% end %>

        <hr />

        <%= render "devise/shared/links" %>

        <p style="font-size: x-small; line-height: normal;">
          By logging in, you agree that this website may store both a session cookie to allow you to log in, and any
          other cookies including tracking cookies.
          <br />
          For more information, please see the <%= link_to 'Privacy Policy', static_path('privacy_policy')%>.
        </p>
      </div>

      <!-- <div class="col">
        <h5>New Members</h5>

        <p>
          Please buy membership at the box office or from our <a
            href="https://www.eusa.ed.ac.uk/activities/view/bedlam">EUSA society page</a>.
        </p>

        <p>
          Afterwards, you will receive an email to activate your account. If you do not receive this email within a day,
          please email the Secretary.
        </p>

        <p>
          If you encounter have any issues (re)activating your account, please email the secretary at <a
            href="mailto:secretary@bedlamtheatre.co.uk">secretary@bedlamtheatre.co.uk</a>.
        </p>
      </div>-->
    </div>
  </div>
</div>