<% show_remove = current_user.can?(:remove_user, @role) %>
<% remove_url_lambda = ->(user_id) { remove_user_admin_role_path(@role, user_id) } %>

<%= turbo_stream.replace dom_id(@role, :users) do %>
  <div id="<%= dom_id(@role, :users) %>">
    <%= render('shared/users_table', users: @users, url: admin_role_url(@role),
      show_remove_buttons: show_remove, remove_url_helper: remove_url_lambda) %>
  </div>
<% end %>

<% if flash[:success].present? %>
  <turbo-stream action="toast" type="success" message="<%= j flash[:success].first %>"></turbo-stream>
  <% flash.discard(:success) %>
<% end %>
<% if flash[:error].present? %>
  <turbo-stream action="toast" type="error" message="<%= j flash[:error].first %>"></turbo-stream>
  <% flash.discard(:error) %>
<% end %>
