<h1><%= @title %></h1>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>

            <% if can? :edit, Role %>
                <th></th>
            <% end %>
            
            <% if can? :delete, Role %>
                <th></th>
            <% end %>
        </tr>

        <% @roles.each do |role| %>
            <tr>
                <%= get_link role, :show, wrap_tag: 'td' %>

                <%= get_link role, :edit, wrap_tag: 'td' %>

                <%= get_link role, :destroy, wrap_tag: 'td' %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= get_link Role, :new %>