<h1><%= @title %></h1>

<h3>Users</h3>
<%= search_form_for @q, builder: SimpleForm::FormBuilder, url: admin_role_url(@role), html: { id: 'search', class: 'form-search form-inline' } do |f| %>
  <%= f.input_field :full_name_cont, placeholder: 'User Name', required: false %>

  <%= submit_tag "Search", class: 'btn' %>
<% end %>

<table class="table">
  <tbody>
    <tr>
      <%= content_tag :th, sort_link(@q, :user_full_name, 'User Name') %>

      <% if can? :assign_roles, User %>
        <th></th>
      <% end%>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user_link(user, true) %></td>

        <% if can? :assign_roles, user %>
          <td>
            <%= get_link user, :edit %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render '/shared/show_actions', object: @role %>
