<h1><%= @title %></h1>

<div class="mb-3">
  <%= display_block(@editable_block_name, false) %>
</div>

<%= search_form %>

<div class="row">
  <div class="col">
    <% if items.empty? %>
      <%= display_block("#{@editable_block_name} - No Resources", false) %>
    <% else %>
        <% items.each do |item| %>
          <div class="d-flex flex-column flex-md-row">
            <% image = image_tag(item[:image].variant(thumb_variant_public),{ class: 'h-100 w-100' }.merge(variant_width_and_height_html(thumb_variant_public))) %>
            <%= link_to(image, item[:url], class: "img-thumbnail") %>

            <div class="flex-fill ms-3">
              <h4 class="media-heading"><%= link_to item[:header], item[:url] %></h4>
              
              <%= render('shared/pages/public/partials/card_paragraphs', paragraphs: item[:paragraphs]) %>

              <p class="card-text"><%= link_to item[:button_text], item[:url], class: 'btn btn-primary' %></p>
            </div>
          </div>
          <hr />
        <% end %>

      <%= paginate(resources) %>
    <% end %>
  </div>
</div>