<h1><%= @title %></h1>

<p>
  <%= display_block('Marketing Creatives Category Show Description', true) %>
</p>

<p>
  <%= display_block("Marketing Creatives Category Show #{@category.name}", true) %>
</p>

<div class="row row-cols-auto row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
  <% @category_infos.each do |category_info| %>
    <div class="col">
      <div class="card h-100">
        <% img = image_tag category_info.fetch_image.variant(thumb_variant(2)), { class: 'card-img-top h-auto' }.merge(variant_width_and_height_html(thumb_variant(2))) %>
        <%= get_link category_info.profile, :show, link_text: img %>

        <div class="card-body">
          <p class="card-text"><%= get_link category_info.profile, :show %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mb-3"></div>

<%= render 'shared/show_actions', object: @category %>
<%= get_link MarketingCreatives::Profile, :sign_up, http_method: :get %>
