<% case f.object.question.response_type %>
  <% when "Long Text" %>
    <%= render "/shared/form/md_editor", f: f, field: :answer %>
  <% when "Number" %>
    <%= f.input_field :answer, as: :decimal %>
  <% when "Yes/No" %>
    <%= f.input_field :answer, as: :select, collection: ['Yes', 'No'] %>
  <% when "File" %>
    <% if f.object.file.attached? %>
      <label>Current:</label>
      <%= link_to f.object.file.filename, admin_answer_get_file_path(f.object) %>

      <br />
    <% end %>

    <label>Upload New:</label>
    <%= f.input_field :file %>
  <% else %>
    <%= f.input_field :answer, as: :string %>
<% end %>