<% case f.object.question.response_type %>
  <% when "Long Text" %>
    <%= render "/shared/form/md_editor", f: f, field: :answer %>
  <% when "Number" %>
    <%= f.input_field :answer, as: :decimal %>
  <% when "Yes/No" %>
    <%= f.input_field :answer, as: :select, collection: ['Yes', 'No'] %>
  <% when "File" %>
    <div class="well">
      <%= render 'shared/form/sections/attachments', f: f, include_header: false %>
    </div>
  <% else %>
    <%= f.input_field :answer, as: :string %>
<% end %>
