<h1><%= @title %></h1>

<% fields = { 
  name: @attachment_tag.name
} %>

<%= render 'shared/basic_fields', fields: fields %>

<p>
  <h3>Description</h3>
  <%= render_markdown(@attachment_tag.description) %>
</p>

<%= get_link_to_attachments_for_tag(@attachment_tag)%>

<%= render '/shared/show_actions', object: @attachment_tag %>
