
current user = <%=current_user.name  %>

<% @title = 'Maintenance Debts' %>

<% prefix = params[:search] ? "Searching" : "Listing" %>

<h1><%= prefix %> Maintenance Debts</h1>

<% if can? :manage, Admin::MaintenanceDebt%>
<% if false%>
    <%# cant make searching happy right now%>
<div class="row">
  <div class="span9">
    <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :admin_maintenance_debts, html: { id: "search", class: "form-search" } do |f| %>
        <%= f.input_field :full_name_cont, placeholder: "Name",  required: false %>
        <%= f.input_field :email_cont,     placeholder: "Email", required: false %>
        <%= f.input_field :show_name, placeholder: "Show", required: false %>
        <%= f.submit :Search, class: 'btn' %>
    <% end %>
  </div>
</div>
<% end %>
<%else%>
    <%@q = {user_id:current_user}%>
<%end%>

<table class="table">
  <tbody>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Show</th>
    <th>Due Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @mdebts.each do |mdebt| %>

      <tr<%= " class = error" if Date.current > mdebt.dueBy %>>
        <td><%= mdebt.user.email %></td>
        <td><%= "#{mdebt.user.first_name} #{mdebt.user.last_name}"%></td>
        <td><%= mdebt.show.name %></td>
        <td><%= mdebt.dueBy %></td>

        <td>
          <% if can? :edit, mdebt %>
              <%= link_to 'Change Deadline', edit_admin_maintenance_debt_path(mdebt) , class: "btn" %>
          <% end %>
        </td>

        <td>
          <% if can? :edit, mdebt %>
              <%= link_to convert_to_staffing_debt_admin_maintenance_debt_path(mdebt.id), :method => :put , class: "btn" do%>
                  Convert To Staffing
              <% end %>
          <% end %>
        </td>

        <td>
          <% if can? :delete, mdebt %>
              <%= link_to 'Destroy', admin_maintenance_debt_path(mdebt), method: :delete, data: { confirm:         "Deleting " + mdebt.user.name + "'s debt",
                                                                                                  detail:          "If you delete a debt a theatre manager fairy dies",
              } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate_holder">
  <%= will_paginate(@mdebts) %>
</div>

<br>
<% if can? :create, Admin::MaintenanceDebt%>
<%= link_to 'New Maintenance debt', new_admin_maintenance_debt_path %>
<% end %>