<h1><%= @title %></h1>

<% if can? :read, Admin::MaintenanceDebt %>
    <div id="search_container">
      <%= form_tag admin_maintenance_debts_path, method: :get do %>
          First Name :<%= text_field_tag :first_name, @first_name %>
          Last Name :<%= text_field_tag :last_name, @last_name %>
          Show : <%= text_field_tag :show_name, @show_name %> <br/>
          Show Fulfilled Obligations : <%= check_box_tag :show_fulfilled, :show_fulfilled, @show_fulfilled %>

          <%= submit_tag "Search", class: 'btn' %>
      <% end %>
    </div>
<% end %>

<table class="table">
  <tbody>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Show</th>
    <th>Due Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @mdebts.each do |mdebt| %>

      <tr class="<%= maintenance_debt_class(mdebt) %>">
        <td><%= mdebt.user.email %></td>
        <td><%= "#{mdebt.user.first_name} #{mdebt.user.last_name}" %></td>
        <td><%= mdebt.show.name %></td>
        <td><%= mdebt.due_by %></td>

        <td>
          <% if can? :edit, mdebt %>
              <%= link_to 'Change Deadline', edit_admin_maintenance_debt_path(mdebt), class: "btn" %>
          <% end %>
        </td>

        <td>
          <% if (can? :edit, mdebt) && (mdebt.unfulfilled?) %>
              <%= link_to convert_to_staffing_debt_admin_maintenance_debt_path(mdebt.id), :method => :put, class: "btn" do %>
                  Convert To Staffing
              <% end %>
          <% end %>
        </td>

        <td>
          <% if (can? :delete, mdebt) && (mdebt.unfulfilled?) %>
              <%= link_to 'Completed', admin_maintenance_debt_path(mdebt), method: :delete, class: "btn btn-danger", data: {confirm: "Deleting " + mdebt.user.name + "'s debt",
                                                                                                                          detail: "If you delete a debt a theatre manager fairy dies",
              } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate_holder">
  <%= will_paginate(@mdebts) %>
</div>

<% if can? :create, Admin::MaintenanceDebt %>
    <%= link_to 'Create Maintenance Obligation', new_admin_maintenance_debt_path, class: "btn" %>
<% end %>

<br>
