<p id="notice"><%= notice %></p>

<h1>Listing Admin Maintenance Debts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Dueby</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_maintenance_debts.each do |admin_maintenance_debt| %>
      <tr>
        <td><%= admin_maintenance_debt.user_id %></td>
        <td><%= admin_maintenance_debt.dueBy %></td>
        <td><%= admin_maintenance_debt.show_id %></td>
        <td><%= link_to 'Show', admin_maintenance_debt %></td>
        <td><%= link_to 'Edit', edit_admin_maintenance_debt_path(admin_maintenance_debt) %></td>
        <td><%= link_to 'Destroy', admin_maintenance_debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance debt', new_admin_maintenance_debt_path %>
