<h1>Editing Admin Staffing Debt</h1>

<%= simple_form_for(@admin_staffing_debt) do |y| %>
    <%= y.error_notification %>

    <div class="form-inputs">
      <%= y.input :due_by , label: "Due By"%>
    </div>

    <div class="form-actions">
      <%= y.button :submit %>
    </div>
<% end %>

<%= link_to 'Show', @admin_staffing_debt %> |
<%= link_to 'Back', admin_staffing_debts_path %>
