<h1><%= @title %></h1>

<%= simple_form_for(@admin_staffing_debt) do |y| %>
    <%= y.error_notification %>
    <%= y.input :due_by , label: "Due By"%>
    <%= y.button :submit %>
<% end %>

<%= link_to 'Show', @admin_staffing_debt %> |
<%= link_to 'Back', admin_staffing_debts_path %>
