<h1><%= @title %></h1>

<%= render 'admin/shared_debt/basic_info', debt: @staffing_debt %>

<p>
  <strong>Staffing job:</strong>
  <% if @staffing_debt.admin_staffing_job.present? %>
    <%= render 'position_and_staffing', staffing_job: @staffing_debt.admin_staffing_job %>

    <%= get_link @staffing_debt, :unassign, http_method: :put %>
  <% else %>
    There is no Staffing Job associated with this debt.
  <% end %>
</p>

<% if @jobs.empty? %>
  <p>This user has not staffed any jobs that are not associated with any Debt.</p>
<% else %>
  <h3>Unassociated Jobs</h3>

  <% can_assign_job = can?(:assign, @staffing_debt) && !@staffing_debt.fulfilled && !@staffing_debt.admin_staffing_job.present? %>

  <table class="table">
    <tbody>
    <tr>
      <th>Job</th>
      <th>Date</th>
      <% if can_assign_job %>
        <th></th>
      <% end %>
    </tr>



    <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render 'position_and_staffing', staffing_job: job %>
          </td>

          <td><%= job.staffable.start_time.to_s(:long_ordinal)%></td>

          <td>
            <%= get_link job, :assign, link_target: assign_admin_staffing_debt_path(id: @staffing_debt.id, job_id: job),
                         http_method: :put, condition: can_assign_job %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% # No /shared/show_actions because the destroy button is a little different %>
<%= get_link @staffing_debt, :edit, html_class: 'btn btn-primary' %>
<%= get_link @staffing_debt.class, :index %>
<%= render 'forgive_button', staffing_debt: @staffing_debt %>