<h1><%= @title = 'Activate Membership' %></h1>

<%= simple_form_for(@user, method: :patch, url: submit_membership_activation_token_path(@membership_activation_token.token)) do |f| %>
    <%= f.error_notification %>

    <% unless @user.persisted? %>
      <p>If you already have an account, please sign in instead of completing this form twice. If you have problems signing in, please contact the secretary@bedlamtheatre.co.uk</p>
    <% end %>

    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :email %>
    <%= f.input :phone_number, hint: 'It is not mandatory to enter your phone number. A phone number is only required if you want to sign up for staffing slots.' %>

    <% if @user.new_record? %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    <% end %>

    <input id="consent_checkbox" name="consent" type="checkbox" required="true">
    <label for="consent_checkbox">I give consent to the EUTC to store my:
      <ul>
        <li>Full name indefinitely to maintain records of shows I work on and propose</li>
        <li>Email for up to 3 years to log in and to contact me about:
          <ul>
            <li>Shows I am proposing/working on</li>
            <li>Company events including General Meetings</li>
            <li>Staffing slots and maintenance time I may owe the company</li>
          </ul>
        <li>Phone number for up to 1 year to contact me about staffing I have agreed to do</li>
      </ul>
    </label>

    <p>If you do not want to consent to any of these terms, please contact the secretary at <%= link_to 'secretary@bedlamtheatre.co.uk', 'mailto:secretary@bedlamtheatre.co.uk' %></p>

    <p>After activating your account you will be redirected to the sign-in page.</p>
    
    <% button_text = @user.new_record? ? 'Activate Membership' : 'Reactivate Membership' %>
    <%= f.button :submit, button_text %>
<% end %>
