<h1><%= @title = 'Activate Membership' %></h1>

<%= simple_form_for(@user, method: :patch, url: submit_membership_activation_token_path(@membership_activation_token)) do |f| %>
    <%= f.error_notification %>

    <% unless @user.persisted? %>
      <p>If you already have an account, please sign in instead of completing this form twice. If you have problems signing in, please contact the Secretary at <a href="mailto:secretary@bedlamtheatre.co.uk">secretary@bedlamtheatre.co.uk</a></p>
    <% end %>

    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :email %>
    <%= f.input :phone_number, hint: 'It is not mandatory to enter your phone number. A phone number is only required once you want to sign up for staffing slots.' %>

    <% unless @user.persisted? %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    <% end %>

    <p>
      <label for="consent_checkbox">
        <%= display_block("Activation Terms", true) %>
      </label>

      <input id="consent_checkbox" name="consent" type="checkbox" required="true">
    </p>
    
    <p>After activating your account you will be redirected to the sign-in page.</p>
    
    <% button_text = @user.persisted? ? 'Reactivate Membership' : 'Activate Membership' %>
    <%= f.button :submit, button_text %>
<% end %>
