<h1><%= @title %></h1>

<p>
  <%= display_block("Registration Help", false) %>
</p>

<%= simple_horizontal_form_for(@user, method: :patch, url: submit_membership_activation_token_path(@membership_activation_token)) do |f| %>
  <%= f.error_notification %>

  <% unless @user.persisted? %>
    <p>If you already have an account, please log in instead of completing this form twice. If you have problems logging in, please contact the Secretary at <a href="mailto:secretary@bedlamtheatre.co.uk">secretary@bedlamtheatre.co.uk</a></p>
  <% end %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>

    <%= f.input :phone_number, hint: 'It is not mandatory to enter your phone number. A phone number is only required once you want to sign up for staffing slots.' %>

    <% unless @user.persisted? %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    <% end %>

     <p>A bio and avatar are not mandatory, but these will be shown on your profile if you enter them.</p>
        <%= render "/shared/form/md_editor", f: f, field: :bio, rows: 12, show_hint: true %>
        <%= render 'shared/form/file_field', f: f, field_name: :avatar, hint: 'Try to keep the image as square as possible.' %>
        <%= f.input :public_profile, label: 'Enable Public Profile', hint: 'Display your profile on the public website as well as than just the members-only part?' %>
  </div>

  <%= render 'shared/consent' %>

  <p>After activating your account, you will be redirected to the sign-in page.</p>

  <div class="form-actions mb-3">
    <% button_text = @user.persisted? ? 'Reactivate Membership' : 'Activate Membership' %>
    <%= f.button :submit, button_text, class: 'btn btn-primary' %>
  </div>
<% end %>
