<%= simple_form_for [:admin, @user] do |f| %>
  <%= render('shared/pages/form', f: f) do %>
    <h3>User Details</h3>

    <% email_hint = 'Creating an user will send them a welcome email, unless the email ends in @bedlamtheatre.co.uk' if @user.new_record? %>
    <%= f.input :email, hint: email_hint %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>

    <% password_hint = "Leave blank to generate random password" if @user.new_record? %>

    <%= f.input :password, hint: password_hint %>
    <%= f.input :password_confirmation %>

    <% if can? :assign_roles, @user %>
      <% # BOOTSTRAP VERYNIECTOHAVE: This is not bold while all labels are. Fix? %>
      <%= f.association :roles, as: :check_boxes %>
    <% end %>

    <h3>Public Profile</h3>
    <%= render "/shared/form/md_editor", f: f, field: :bio, rows: 12, show_hint: true %>
    <%= render 'shared/form/file_field', f: f, field_name: :avatar, hint: 'Try to keep the image as square as possible.' %>
    <%= f.input :public_profile, label: 'Enable Public Profle', hint: 'Display your profile on the public website as well as than just the members-only part?' %>
  <% end %>
<% end %>
