<div class="card">
  <div class="card-body">
    <h5>Create New User</h5>
    <%= simple_horizontal_form_for(@user, url: activate_admin_users_path, method: :post) do |f| %>
      <%= f.error_notification %>

      <p>Enter the details of a new member here to send them a profile completion email.</p>

      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :student_id, hint: 'Optional - format: s1234567' %>
      <%= f.input :associate_id, hint: 'Optional - format: ASSOC123' %>

      <div class="form-group">
        <div class="form-check">
          <%= check_box_tag 'user[is_member]', '1', false, class: 'form-check-input', id: 'user_is_member' %>
          <%= label_tag 'user_is_member', 'Make this user a member immediately', class: 'form-check-label' %>
        </div>
      </div>

      <%= f.button :submit, "Send Profile Completion Email", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5>Granting Membership To Existing Users</h5>
    <p>If you need to grant membership to an existing user,
      please edit their profile and grant them the member role,
      or import a spreadsheet of members using the bulk import feature below.</p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5>Bulk Import</h5>
    <p>Need to activate many members at once? Import from a spreadsheet or paste data directly.</p>
    <%= link_to "Bulk Membership Import", new_admin_membership_import_path, class: "btn btn-primary" %>
  </div>
</div>
