<%= render CardComponent.new(flush: true, html_class: "mb-3") do %>
  <%= form_with url: merge_preview_admin_user_path(@user), method: :post do %>
    <div class="p-4">
      <p>Select the user to merge <strong>from</strong>. All their associations (team memberships, staffing jobs, debts, etc.) will be transferred to <%= @user.name_or_email %>, and the selected user will be deleted.</p>

      <div class="form-group">
        <label for="source_user_id">User to merge from (will be deleted)</label>
        <select name="source_user_id" id="source_user_id" class="simple-select2"
                data-remote-source="/admin/users/autocomplete_list?exclude_id=<%= @user.id %>"
                data-show-non-members="1"
                data-query-field="q[full_name_cont]"
                data-placeholder="Select a user to merge"
                data-minimum-input-length="2"
                data-allow-clear="true"
                required>
          <option></option>
          <% if @source_user %>
            <option value="<%= @source_user.id %>" selected><%= @source_user.name_or_email %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="px-4 py-3 border-t border-gray-200 bg-gray-50">
      <%= link_to "Cancel", admin_user_path(@user), class: btn_classes(:secondary) %>
      <button type="submit" class="<%= btn_classes(:primary) %>">Preview Merge</button>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag "merge-modal" do %>
  <% if @source_user %>
    <%= render partial: "merge_modal", locals: { target: @user, source: @source_user, in_modal: turbo_frame_request? } %>
  <% end %>
<% end %>
