<% fields = {
    email: @user.email,
    phone_number: @user.phone_number.present? ? link_to(@user.phone_number, "tel: #{@user.phone_number}") : 'Not set',
    roles: @user.roles.collect {|role| role.name.capitalize }.to_sentence,
    marketing_creative_profile: @user.marketing_creatives_profile.present? ? get_link(@user.marketing_creatives_profile, :show) : 'This user has no Marketing Creative Profile.',
    'Sign-in Count' => @user.sign_in_count,
    profile_visible_to_public: bool_text(@user.public_profile),
    #card_number: (link_to(@user.card_number, admin_membership_card_path(@user.membership_card))) if @user.card_number.present?
} %>

<%= content_for :extra_show_actions do %>
    <%= get_link @user, :reset_password, http_method: :post %>
    <hr class="mt-3 mb-3">
    <div class="merge-user-form">
        <h5>Merge User</h5>
        <p class="text-muted">
            Merge this user into another user. All data (roles, debts, attendances, etc.) will be transferred to the target user, and this user will be deleted.
        </p>
        <%= form_with url: merge_admin_user_path(@user), method: :post, local: true do |form| %>
            <div class="form-group mb-3">
                <%= form.label :target_user_id, "Target User:" %>
                <%= form.select :target_user_id, 
                    [], 
                    { prompt: "Select target user..." }, 
                    { 
                        class: "form-control", 
                        required: true,
                        'data-remote-source' => "#{admin_users_autocomplete_list_path}?exclude_user_id=#{@user.id}",
                        'data-query-field' => 'q[full_name_cont]',
                        'data-placeholder' => 'Select a user to merge into',
                        'data-minimum-input-length' => 2,
                    } %>
            </div>
            <%= form.submit "Merge User", 
                class: "btn btn-warning", data: { 
                    confirm: "Are you sure you want to merge #{@user.name_or_email} into the selected user? This action cannot be undone and will delete the current user." 
                } %>
        <% end %>
    </div>
<% end %>

<%= render('shared/pages/show', object: @user, fields: fields, show_actions_args: { destroy_link_params: { 
    type_confirm: @user.name,
    detail: "If you delete a user, you may also break content which belongs to them. Do not take this decision lightly\n\nPlease type the user's full name:" 
} } ) %>

<%= render(template:'users/show', locals: { display_title: false }) %>
