<%= render file: '/users/show.html.erb' %>

<hr />
<h2>Details</h2>
<p>
    <b>Email:</b>
    <%= @user.email %>
</p>
<p>
    <b>Phone Number:</b>
    <%= link_to @user.phone_number, "tel: #{@user.phone_number}" unless @user.phone_number.blank? %>
</p>
<p>
    <b>Roles:</b>
    <%= @user.roles.collect {|role| role.name.capitalize }.to_sentence %>
</p>
<p>
    <b>Sign-in Count:</b>
    <%= @user.sign_in_count %>
</p>
<p>
    <b>Profile Visible to Public:</b>
    <%= bool_text @user.public_profile %>
</p>

<% if false #@user.card_number.present? Can be re-enabled if you want to use membership card again%>
    <p>
        <b>Card Number:</b>
        <%= link_to @user.card_number, admin_membership_card_path(@user.membership_card) %>
    </p>
<% end %>

<% destroy_button = get_link @user, :destroy, type_confirm: @user.name,
                             detail: "If you delete a user, you may also break content which belongs to them. Do not take this decision lightly.<br />Please type the user's full name:"
%>

<%= render '/shared/show_actions', object: @user, custom_destroy: destroy_button %>
<%= get_link @user, :reset_password, http_method: :post %>
