<% @title = 'User Details' %>

<h1><%= @user.name %></h1>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><%= @user.phone_number %></td>
        </tr>
        <tr>
            <th>Roles</th>
            <td><%= @user.roles.collect {|role| role.name.capitalize }.join(', ') %></td>
        </tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user.id), class: 'btn'%>