<%- # Very similar to proposals call _form. %>
<% content_for :head do %>
  <meta name="templates-base-url" content="/admin/questionnaires/questionnaire_templates" />
  <meta name="templates-items-type" content="questions" />
  <%= javascript_include_tag "admin/question_templates.js" %>
<% end %>

<%= simple_horizontal_form_for(@questionnaire) do |f| %>
  <% content_for :extra_form_actions do %>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#template_modal">Load Template</button>
  <% end %>

  <%= render('shared/pages/form', f: f) do %>
    <% if @questionnaire.persisted? %>
      <p>
        <b>Event:</b> <%= get_link @questionnaire.event, :show %>
      </p>
    <% else %>
      <%= f.association :event, collection: @events_collection, selected: @event, disabled: @questionnaire.persisted? %>
    <% end %>

    <%= f.input :name %>

    <div id="questions">
      <h3>Questions</h3>

      <%= render('shared/form/sections/nested_fields', f: f, association_name: :questions, partial_name: 'question_fields') %>
    </div>
  <% end %>
<% end %>

<%= render '/shared/form/template_modal', header: 'Select Questions from Template', template_model: Admin::Questionnaires::QuestionnaireTemplate %>
