<% content_for :head do %>
  <meta name="templates-base-url" content="/admin/questionnaires/questionnaire_templates" />
  <%= javascript_include_tag "admin/question_templates.js" %>
<% end %>

<%= simple_nested_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <% if @questionnaire.new_record? %>
      <%= f.association :event, collection: @events_collection, selected: @event %>
    <% end %>

    <h3>Questions</h3>

    <%= f.simple_fields_for :questions %>

    <%= link_to_add f, :questions %>
  </div>

  <div class="form-actions">
    <%= render '/shared/form/form_actions', f: f, wrap_tags: false %>
    <a href="#template_modal" role="button" class="btn" data-toggle="modal">Load Template</a>
  </div>
<% end %>

<%= render '/shared/form/template_modal', header: 'Select Questions from Template', template_model: Admin::Questionnaires::QuestionnaireTemplate %>