<h1><%= @title %></h1>

<%= simple_nested_form_for(@questionnaire, url: answer_admin_questionnaires_questionnaire_url) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <h3>Questions</h3>

    <%= f.simple_fields_for :answers %>

  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>