<%= simple_fields_for :dropzone_pictures do |d| %>
  <%= render 'shared/form/dropzone/dropzone', d: d %>

  <h4>Properties for Dropzone Pictures</h4>
  <%= d.input_field :access_level, collection: Picture::ACCESS_LEVELS, hint: 'Note that the user also needs to have access to the object the item is attached to.', include_blank: false, selected: Picture.column_defaults['access_level'] %>

  <h5>Tags<h5>

  <%= d.collection_check_boxes(:picture_tag_ids, PictureTag.accessible_by(current_ability), :id, ->(picture_tag) { get_link picture_tag, :show, link_text: picture_tag.name, target: :blank }) do |checkbox| %>
      <%= checkbox.label { "#{checkbox.check_box}   #{checkbox.text}".html_safe} %>
  <% end %>
<% end %>