<%= simple_nested_form_for(@admin_proposals_call) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :deadline %>

    <%= f.input :name %>

    <%= f.input :open %>
    
    <div class="well form-horizontal">
      <h3>Questions</h3>
      <%= f.simple_fields_for :questions %>

      <%= f.link_to_add "Add Question", :questions, :class => "btn" %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
    <%= link_to 'Back', admin_proposals_calls_path, :class => "btn" %>
  </div>
<% end %>
