<h1><%= @title %></h1>

<p>
  <b>Submission Deadline:</b>
  <%= l @call.submission_deadline, format: :longy %>
</p>

<p>
  <b>Editing Deadline:</b>
  <%= l @call.editing_deadline, format: :longy %>
</p>

<hr />

<%= render 'shared/show_actions', object: @call %>

<%= get_link @call, :view_proposals, link_target: admin_proposals_call_proposals_path(@call) , http_method: 'get' %>
<%= get_link @call, :archive, wrap_tag: 'td', http_method: 'put', additional_condition: DateTime.now > @call.editing_deadline,
              confirm: "Archiving #{@call.name}", detail: 'Please confirm that you want to archive this proposal call.' 
%>

<hr />

<h3>Questions</h3>

<% @call.questions.each do |question| %>
  <div>
    <b>Question:</b>
    <%= render_markdown question.question_text %>
  </div>

  <p>
    <b>Type:</b>
    <%= question.response_type %>
  </p>

  <hr />
<% end %>
