<%= simple_form_for [:admin, @fault_report] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item %>

    <%= render "/shared/form/md_editor", f: f, field: :description, rows: 12, show_hint: true %>

    <%= f.input :severity, collection: FaultReport.severities.keys, label_method: :humanize,
            selected: FaultReport.severities.keys[@fault_report[:severity].to_i],
            input_html: { autocomplete: 'off' } %>

    <% if can? :edit, @fault_report %>
      <%= f.input :status, collection: FaultReport.statuses.keys, label_method: :humanize,
              selected: FaultReport.statuses.keys[@fault_report[:status].to_i],
              input_html: { autocomplete: 'off' } %>

      <% # It would be nice to use the autocomplete fields for these, but it requires the association to be called user %>
      <% # Because this is the only use case where that is not the case, and because we no longer use this bit of the website, I am not fixing that %>
      
      <%= f.association :reported_by %>
      <%= f.association :fixed_by %>
    <% end %>
  </div>

  <%= render '/shared/form/form_actions', f: f %>
<% end %>
