<% if reviews.any? %>
  <h3>Reviews</h3>
  
  <div class="row row-cols-auto row-cols-1 row-cols-lg-2 g-3">
    <% reviews.each do |review| %>
      <div class="col">
        <div class="card h-100">
          <h4 class="card-header">
            <b><%= review.reviewer %></b> on <%= l review.review_date, format: :long %> <%= "for #{review.organisation}" if review.organisation? %>
                - <span class="no-wrap"><%=star_rating review.rating if review.rating && review.rating > 0 %></span>
          </h4>

          <div class="card-body">
            <%= render_markdown review.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="mb-3"></div>
