<div class="row">
  <h1>Bedlam Shows</h1>
  <hr />
  
  <% @shows.each do |show| %>
  <div class="row">
    <article>
      <div class="span2">
        <%= link_to (image_tag show.image.url(:thumb)), show %>
      </div>
      <div class="span10">
        <header>
          <h2><%= link_to show.name, show %></h2>
        </header>
        <p><%= show.tagline %></p>
        <p><%= link_to 'View Full Article', show %></p>
      </div>
    </article>
  </div>
  <hr />
  <% end %>
  
  <%= will_paginate(@shows) %>
  
</div>