<% content_for :head do %>
  <%= javascript_include_tag "jquery.lightbox-0.5" %>
  <%= stylesheet_link_tag "jquery.lightbox-0.5", :media => "all" %>
<% end %>

<% if @show.end_date %>
<% if @show.end_date < Date.today %>
  <p class="alert alert-info">
    <i class="icon-info-sign icon-large"></i>
    This show finished on <%= l @show.end_date, :format => :long %>, and this page is being kept for archival purposes only.
  </p>
<% end %>
<% end %>

<div class="row" style="position: relative;">
  <div class="span9">
    <div class="carousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @show.image.url(:slideshow) %>
          <div class="carousel-caption">
            <h1><%= @show.name %></h1>
            <p><%= @show.tagline %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span3 show-info-box">
    <div class="well">
      <h4>Dates</h4>
      <p>
        <b><%= @show.date_range %></b>
      </p>

      <% if @show.author and not @show.author.empty? %>
        <h4>Author</h4>
        <p>
          <%= @show.author %>
        </p>
      <% end %>

      <% if @show.venue then %>
        <h4>Venue</h4>
        <p>
          <%= link_to @show.venue.name, @show.venue %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render_markdown @show.description %>

<% unless @show.team_members.count == 0 %>
  <hr />

  <h4>Cast and Crew</h4>
  <dl class="cast_crew_list">
  <% @show.team_members.each do |team_member| %>
    <dt><%= team_member.position %></dt>

    <dd>
    <% u = team_member.user %>
    <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
    </dd>
  <% end %>
  </dl>
<% end %>

<% if @show.xts_id then %>
  <hr />

  <h4>Tickets</h4>
  <%= xts_widget(@show.xts_id)%>
<% end %>

<% if @show.reviews.count > 0 then %>
  <hr />

  <h3>Reviews</h3>

  <% @show.reviews.each do |review| %>
    <article>
      <header>
        <span class="author"><%= review.reviewer %></span> on <%= l review.review_date, :format => :long %> <%= "for #{review.organisation}" if review.organisation.present? %>
        <br />
        <%= star_rating review.rating if review.rating && review.rating > 0 %>
      </header>

      <%= render_markdown review.body %>
    </article>
  <% end %>
<% end %>

<% if @show.pictures.count > 0 then %>
  <hr />

  <h3>Gallery</h3>

  <ul class="gallery thumbnails">
    <% @show.pictures.each do |picture| %>
      <li class="span2">
      <% img = image_tag picture.image.url(:thumb) %>
      <%= link_to img, picture.image.url(:display), :class => "thumbnail", :title => (picture.description) %>
      </li>
    <% end %>
  </ul>

  <script type="text/javascript">
  $(function() {
    $('.gallery a').lightBox({
      imageLoading:  '/images/lightbox-ico-loading.gif',
      imageBtnClose: '/images/lightbox-btn-close.gif',
      imageBtnPrev:  '/images/lightbox-btn-prev.gif',
      imageBtnNext:  '/images/lightbox-btn-next.gif',
      imageBlank:    '/images/lightbox-blank.gif'
    });
  });
  </script>
<% end %>