
<div class="job control-group <%= "error" if (f.error(:name).present? || f.error(:file).present?) %>">
    <%= f.error :name %>
    <%= f.error :link %>
    <%= f.error :order %>

    <%= f.input :name, placeholder: 'Video Link Title' %>
    <br>
    <%= f.input :link, placeholder: 'The link to the video',
        hint: 'Paste in the youtu.be/<code> link or youtube.com/watch?v=<code> link' 
    %>
    <br>
    <%= f.input :order, hint: 'Lower numbers are prioritised.' %>

    <%= link_to_remove f %>

    <br>

    <%= f.input :access_level, collection: VideoLink::ACCESS_LEVELS, hint: 'Note that the user also needs to have access to the object the item is attached to.', include_blank: false %>
</div>
