<h1><%= @title %></h1>

<table class="table table-hover">
  <tr>
    <th>Subject</th>
    <th>Created At</th>

    <% if can? :edit, Complaint %>
      <th></th>
    <% end %>
  </tr>

  <% @complaints.each do |complaint| %>
    <tr class="<%= complaint.html_class %>">
      <%= get_link complaint, :show, wrap_tag: 'td' %>
      <td><%= l complaint.created_at, format: :longy %></td>

      <%= get_link complaint, :edit, wrap_tag: 'td', link_text: 'Comment' %>
    </tr>
  <% end %>
</table>

<%= will_paginate(@complaints) %>
