<%# locals: (pictures:, header_size: 3) -%>

<% if pictures.any? %>
  <div data-controller="fancybox">
    <% header_tag = "h#{header_size}" %>
    <<%= header_tag %>>Gallery</<%= header_tag %>>
    <i class="text-sm text-gray-500">Click on a thumbnail to see the image in large size</i>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-2">
      <% pictures.includes(image_attachment: :blob).each do |picture| %>
        <div class="bg-white rounded border border-gray-200 flex flex-col">
          <% lightbox_url = active_storage_proxy_url(picture.fetch_image.variant(large_display_variant)) %>
          <% download_url = active_storage_proxy_url(picture.fetch_image) %>

          <%= link_to lightbox_url, class: "fancybox", rel: 'group', title: picture.description, 'data-title' => picture.description, 'data-fancybox' => "gallery" do %>
            <%= render 'shared/image', image: picture.fetch_image, variant: medium_variant, proxy: true, image_options: { class: "w-full h-auto block rounded-t" } %>
          <% end %>

          <div class="p-2 text-sm">
            <% gallery_name = picture.gallery_name %>
            <% begin %>
              <%= link_to(gallery_name, picture.gallery) %>
            <% rescue NoMethodError %>
              <%= gallery_name %>
            <% end %>
            - <%= link_to picture.filename, download_url, title: "Download original", target: "_blank" %>

            <% if @admin_site && picture.picture_tags.present? %>
              <hr class="my-1">
              <%= picture.picture_tags.map { |tag| link_to(tag.name, admin_picture_tag_path(tag)) }.to_sentence.html_safe %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mb-3"></div>
