<%# locals: (f:) %>

<%= render CardComponent.new(flush: true) do %>
  <div class="p-4">
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= yield %>
    </div>
  </div>

  <div class="px-4 py-3 border-t border-gray-200 bg-gray-50">
    <% if content_for?(:override_card_footer) %>
      <%= yield(:override_card_footer) %>
    <% else %>
      <%= render '/shared/form/form_actions', f: f %>
    <% end %>
  </div>
<% end %>
