<%# locals: (resources:, resource_class:, field_sets: nil, headers: nil, include_edit_button: true, include_link_to_item: true, content: nil, include_pagination: true) %>
<%# KEEP %>
<%= render CardComponent.new(title: @title, flush: true) do |c| %>
  <% if include_pagination %>
    <% c.with_tools do %>
      <%= paginate resources, window: 2 %>
    <% end %>
  <% end %>
  <% if include_pagination && resources.respond_to?(:total_pages) && resources.total_pages > 1 %>
    <% c.with_footer do %>
      <div class="clearfix"><%= paginate resources, window: 2 %></div>
    <% end %>
  <% end %>
  <% if content.present? %>
    <div class="p-4">
      <%= content %>
    </div>
  <% else %>
    <%= render('shared/index_table', headers: headers, field_sets: field_sets,
               include_edit_button: include_edit_button, include_link_to_item: include_link_to_item,
               resource_class: resource_class) %>
  <% end %>
<% end %>
