<%# locals: (resources:, resource_class:, field_sets: nil, headers: nil, show_new_button: true, search_fields: nil, include_edit_button: true, include_link_to_item: true, quick_actions: [], content: nil, include_pagination: true) %>
<%# KEEP%>
<% if show_new_button && can?(:new, resource_class) %>
  <% quick_actions << get_link(resource_class, :new) %>
<% end %>

    <div class="row">
      <% if block_exists?(@editable_block_name) %>
        <div class="col-md-7">
          <% # If you want to use this for front-end as well, you need to recognise if something is admin or not. %>
      <div class="card mb-3">
            <div class="card-header">
              <span class="card-title">Information</span>
            </div>
            <div class="card-body">
              <%= display_block(@editable_block_name, true) %>
            </div>
          </div>
        </div>
        <% # Slightly bad to put it here, but essentially, if not rendering the block, add an "Create Block" button to the quick actions.%>
      <% else %>
        <% quick_actions << link_to_create_block(@editable_block_name) %>
      <% end %>

      <div class="col">

        <% unless search_fields.blank? %>
          <%= render 'shared/search_form', input_fields: search_fields, columns: block_exists?(@editable_block_name) ? 1 : 2 %>
        <% end %>

        <% unless quick_actions.blank? %>
      <div class="card mb-3">
            <div class="card-header">
              <span class="card-title">Quick actions</span>
            </div>
            <div class="card-body">
              <% quick_actions.each do |quick_action| %>
                <%= quick_action %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
      <div class="card-header d-flex flex-wrap align-items-end justify-content-between">
        <div><span class="card-title"><%= @title %></span></div>

            <% if include_pagination %>
          <% # Note: The localisation string has been modified in en.yml so that the name of the resources is not shown, as it would be by default. %>
          <div><span class="card-title"><%= page_entries_info(resources) %></span></div>
            
          <div><%= paginate resources %></div>
            <% end %>
          </div>

          <div class="card-body">
            <% if content.present? %>
              <%= content %>
            <% else %>
                <%= render('shared/index_table', headers: headers, field_sets: field_sets, include_edit_button: include_edit_button, include_link_to_item: include_link_to_item, resource_class: resource_class) %>
            <% end %>
          </div>

      <% # Hide the bottom footer if there is no pagination. %>
      <% if include_pagination && resources&.total_pages.present? && resources.total_pages > 1 %>
            <div class="card-footer clearfix">
              <%= paginate(resources) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>