<% show_new_button = true if show_new_button.nil? %>
<% search_fields = nil if search_fields.nil? %>
<% include_edit_button = true if include_edit_button.nil? %>
<% include_link_to_item = true if include_link_to_item.nil? %>
<% quick_actions = nil if quick_actions.nil? %>
<% content = nil if content.nil? %>
<% include_pagination = true if include_pagination.nil? %>

    <div class="row">
      <div class="col-md-7">
        <% # If you want to use this for front-end as well, you need to recognise if something is admin or not. %>
        <div class="card">
          <div class="card-header">
            <span class="card-title">Information</span>
          </div>
          <div class="card-body">
            <%= display_block("#{resource_class.to_s.titleize} Admin Description", false) %>
          </div>
        </div>
      </div>
      <div class="col">

        <% if search_fields.present? %>
          <%= render 'shared/search_form', input_fields: search_fields %>
        <% end %>

        <% if (show_new_button && can?(:new, resource_class)) || quick_actions.present? %>
          <div class="card">
            <div class="card-header">
              <span class="card-title">Quick actions</span>
            </div>
            <div class="card-body">
              <% if show_new_button %>
                <%= get_link resource_class, :new %>
              <% end %>
              <%= quick_actions %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <span class="card-title"><%= @title%></span>

            <% if include_pagination %>
              <div class="card-tools"> <%= paginate resources %></div>
            <% end %>
          </div>

          <div class="card-body">
            <% if content.present? %>
              <%= content %>
            <% else %>
                <%= render('shared/index_table', headers: headers, field_sets: field_sets, include_edit_button: include_edit_button, include_link_to_item: include_link_to_item, resource_class: resource_class) %>
            <% end %>
          </div>

          <% if include_pagination %>
            <div class="card-footer clearfix">
              <%= paginate(resources) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>