<h1>Submit an Opportunity</h1>

<p class="lead">Share an opportunity with the Bedlam community. Your submission will be reviewed before it appears publicly.</p>

<div class="row">
  <div class="col-md-8">
    <%= simple_form_for @opportunity, url: get_involved_opportunities_path do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :description, as: :text, input_html: { rows: 8 } %>
        <%= f.input :expiry_date, html5: true, input_html: { min: Date.current }, hint: "After this date the opportunity will no longer be shown." %>
        <%= f.input :email_visibility,
            as: :select,
            collection: Opportunity.email_visibilities.keys.map { |k| [k.humanize, k] },
            hint: "Controls who can see a contact email for this opportunity." %>

        <%= f.input :contact_email,
            hint: "Optional. If left blank and email visibility is enabled, your account email (#{current_user.email}) will be shown instead." %>
      </div>

      <div class="form-actions d-flex gap-2">
        <%= f.button :submit, "Submit Opportunity", class: "btn btn-primary" %>
        <%= link_to "Cancel", get_involved_opportunities_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
