<h1>Opportunities</h1>

<div class="mb-3">
  <%= display_block(@editable_block.name, false) %>
</div>

<% if @opportunities.count == 0 %>
  <%= display_block("No Opportunities", false) %>
<% else %>
  <div class="card mb-3">
    <ul class="list-group list-group-flush">
    <% @opportunities.each do |opportunity| %>
        <li class="list-group-item">
          <h4><%= opportunity.title %></h4>
          
          <p><small class="text-muted"><%= opportunity.creator.name(@current_user) %> | This opportunity expires at <%= l opportunity.expiry_date, format: :longy %>.</small></p>
          
          <p> <%= render_markdown opportunity.description %></p>

          <% if opportunity.show_email %>
            <p>Please contact <%= opportunity.creator.name(@current_user) %> by clicking <%= mail_to opportunity.creator.email, 'here' %>.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mb-3"></div>
