<%# Based on the very similar _team_member_fields.erb file %>

<% error = f.error(:name).present? || f.error(:user).present? %>

<div class="job control-group fields <%= "error" if error %>">
    <%= f.hidden_field :id %>

    <% name_field = [f.input_field(:name, placeholder: 'Job')] %>

    <%= render 'shared/form/user_typeahead_field', f: f, insert_fields: name_field %>

    <%= link_to_remove f %>

    <% if error %>
        <p>
            <%= f.full_error :name %>
            <%= f.full_error :user %>
        </p>
    <% end %>
</div>