<h1>Staffing for <%= params[:show_title] %></h1>

<%= display_block("Staffing", true) %>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>

      <% @job_titles.each do |title| %>
        <th><%= title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @staffings_hash.each do |staffing_hash| %>
      <tr>
        <td><%= link_to (l staffing_hash[:date], :format => :long), staffing_hash[:staffing] %></td>

        <% @job_titles.each do |title| %>
          <td>
            <% job = staffing_hash[:jobs][title] %>
            <% u = job.user %>
            <% if u then %>
              <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
            <% else %>
              <input type="hidden" class="job_json" value="<%= job.to_json %>" >
              <% sign_up_text = '<i class="icon-edit"></i> Sign Up'.html_safe %>
              <% date = l staffing_hash[:date], :format => :long %>
              <%= link_to sign_up_text, admin_sign_up_confirm_path(job), :class => "btn staffing-sign-up", :method => :put, data: { "confirm" => "Confirm Staffing",
                                                                                                                                             "detail"  => "Confirm staffing as #{job.name} for #{params[:show_title]} on #{date}",
                                                                                                                                             :job_id   => job.id
                                                                                                                                           } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>