<h1><%= @title %></h1>

<%= display_block("Staffing", true) %>

<br />
<br />

<h3>Upcoming Positions</h3>
<% if @upcoming_staffings.any? %>
  <%= render 'staffing_index_row', staffings_hash: @upcoming_staffings %>
<% else %>
  <p>There are no upcoming staffing positions.</p>
<% end %>

<%= get_link Admin::Staffing, :new %>
<%= get_link Admin::StaffingTemplate, :index %>

<% if @archived_staffings.any? %>
  <h3>Old Positions</h3>
  <%= render 'staffing_index_row', staffings_hash: @archived_staffings, archived: true %>
<% end %>
