<h1>Listing Staffing Positions</h1>

<h3>Upcoming Positions</h3>

<div class="accordion" id="shows_current_accordion">
<% @admin_staffings.each do |show_title, staffings| %>
  <%= render 'staffing', :show_title => show_title, :staffings => staffings, :parent => "current" %>
<% end %>
</div>

<br />
<% if can? :create, Admin::Staffing %>
<%= link_to 'Add Staffing', new_admin_staffing_path, :class => "btn" %>
<%= link_to 'Create Staffing for Show', new_for_show_admin_staffings_path, :class => "btn" %>
<% end %>

<hr />

<%= display_block("Staffing", true) %>

<hr />

<h3>Old Positions</h3>

<div class="accordion" id="shows_archive_accordion">
<% @admin_staffings_archive.each do |show_title, staffings| %>
  <%= render 'staffing', :show_title => show_title, :staffings => staffings, :parent => "archive" %>
<% end %>
</div>