<% content_for :head do %>
  <meta name="templates-base-url" content="/admin/staffing_templates" />
  <meta name="templates-items-type" content="jobs" />
  <%= javascript_include_tag "admin/question_templates.js", "admin/staffing_form_dynamic_date_fields.js", defer: true %>
<% end %>

<%= simple_horizontal_form_for @staffing do |f| %>
  <% content_for :extra_form_actions do %>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#template_modal">Load Template</button>
  <% end %>

  <%= render('shared/pages/form', f: f) do %>
    <%= render 'form_base', f: f %>
		
    <div id="dates_container">	
      <h3>Dates</h3>	
      <a id="add_date" class="btn btn-secondary"><i class="fas fa-calendar-plus" aria-hidden=”true”></i> Add Date</a>
    </div>
  </div>
  <% end %>
<% end %>

<%= render '/shared/form/template_modal', header: 'Select Jobs from Template', template_model: Admin::StaffingTemplate %>

<div id="date_blueprint" style="display: none" class="control-group datetime">
  <div class="row">
    <div class="col-md">
      <input class="form-control is-valid datetime required mb-2" required="required" aria-required="true" value="<%= @default_start_time.strftime("%Y-%m-%dT%T") %>" type="datetime-local" id="start_datetime">
    </div>
    <div class="col-md">
      <input class="form-control is-valid datetime required mb-2" required="required" aria-required="true" value="<%= @default_end_time.strftime("%Y-%m-%dT%T") %>" type="datetime-local" id="end_time">
    </div>
    <div class="col-md-auto">
    <a class="btn btn-danger mb-2"><%= remove_button_text %></a>
    </div>
  </div>  
</div>
