<% content_for :head do %>
  <meta name="templates-base-url" content="/admin/staffing_templates" />
  <meta name="templates-items-type" content="jobs" />
  <%= javascript_include_tag "admin/question_templates.js" %>
<% end %>

<%= simple_horizontal_form_for @staffing do |f| %>
  <% content_for :extra_form_actions do %>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#template_modal">Load Template</button>
  <% end %>

  <%= render('shared/pages/form', f: f) do %>
    <%= render 'form_base', f: f %>
		
    <% # BOOTSTRAP: Modernise the dates. %>
    <div id="dates_container">	
      <h3>Dates</h3>	
      <script type="text/javascript">	
        $(function () {
          var counter = 0;
          $('#add_date').click(function () {
            var item = $('#date_blueprint').clone();
            $(item).show();
            $(item).removeAttr('id');
            
            types = ['start', 'end']
            subdivisions = ['day', 'month', 'year', 'hour', 'minute']
              
            for (i = 0; i < types.length; i++) {
              for (j = 0; j < subdivisions.length; j++) {
                item.find('select[name*="' + types[i] + '[' + subdivisions[j] + '"]').attr('name', types[i] + '_times[' + counter + '][' + subdivisions[j] + ']');
              }
            }

            item.find('a').click(function () {	
              $(item).remove();	
            });	
            counter++;	
  
            $('#add_date').before(item);	
          });	
        });	
      </script>	
      <a id="add_date" class="btn btn-secondary"><i class="fas fa-calendar-plus" aria-hidden=”true”></i> Add Date</a>
    </div>
  </div>
  <% end %>
<% end %>

<%= render '/shared/form/template_modal', header: 'Select Jobs from Template', template_model: Admin::StaffingTemplate %>

<div id="date_blueprint" style="display: none" class="control-group datetime">
  <% # BOOTSTRAP: Ugly dates %>
  <%= select_datetime(@default_start_time, { prefix: "start" } ) %> to <%= select_time(@default_end_time, prefix: "end")%>
  <a class="btn btn-danger"><%= remove_button_text %></a>
</div>
