<h1>Sign up to staff for <%= @admin_staffing.show_title %></h1>
<h3><%= l @admin_staffing.date, :format => :long %></h3>

<table class="table">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>Staffed By</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_staffing.staffing_jobs.each do |staffing_job| %>
      <tr>
        <td>
          <%= staffing_job.name %>
        </td>

        <td>
          <% u = staffing_job.user %>
          <% if u then %>
            <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
          <% else %>
            <% sign_up_text = '<i class="icon-edit"></i> Sign Up'.html_safe %>
            <%= link_to sign_up_text, admin_staffing_sign_up_path(staffing_job), :class => "btn staffing-sign-up", :data => { :job_id => staffing_job.id }, :method => :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_staffings_path, :class => "btn" %>
