<h1>Sign up for Staffing</h1>

<h2><%= @admin_staffing.show_title %></h2>
<b><%= l @admin_staffing.date, :format => :long %></b>

<form class="well form-horizontal">
    <h3>Jobs</h3>
    <% @admin_staffing.staffing_jobs.each do |staffing_job| %>
      <div class="control-group">
        <div class="control-label">
          <%= staffing_job.name %>
        </div>

        <div class="controls">
          <% u = staffing_job.user %>
          <% if u then %>
            <%= "#{u.first_name} #{u.last_name}".presence || u.email %>
          <% else %>
            <%= link_to 'Sign Up', admin_staffing_sign_up_path(staffing_job), :class => "btn", :method => :put %>
          <% end %>
        </div>
      </div>
    <% end %>
</form>

<%= link_to 'Back', admin_staffings_path, :class => "btn" %>
