<%= javascript_include_tag "admin/staffings" %>

<h1><%= @title %></h1>
<h3><%= time_range_string(@staffing.start_time, @staffing.end_time, true) %></h3>

<%= display_block("Staffing", true) %>

<%= render 'phone_number_warning' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Staffing Job</th>
      <th>Staffed By</th>

      <% if current_user.has_role? :committee %>
        <th>Phone Number</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @staffing.staffing_jobs.each do |staffing_job| %>
      <tr>
        <td><%= staffing_job.name %></td>

        <% user = staffing_job.user %>

        <td>
          <% if user.present? %>
            <%= user_link(user, false) %>
          <% elsif @can_sign_up %>
            <%= render 'sign_up_button', job: staffing_job %>
          <% end %>
        </td>

        <% if current_user.has_role? :committee %>
          <%= user&.phone_number %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render '/shared/show_actions', object: @staffing %>
<%= link_to('View Staffings Grid for this Show', grid_admin_staffings_path(@staffing.slug, archived: @staffing.end_time < Time.now), class: 'btn') %>
