<div class="card">
  <div class="card-body">
    <p>Do you want to sign up as <%= @job.name %> for <%= @job.staffable.show_title %> on <%= time_range_string(@job.staffable.start_time, @job.staffable.end_time, true) %>?</p>

    <%= form_with(url: admin_staffing_sign_up_path(@job), method: :put, local: true, class: "form-inline") do %>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="fas fa-check fa-inverse" aria-hidden=”true”></i> Confirm
      <% end %>
      <%= link_to 'Back', admin_staffing_path(@job.staffable), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
