<div class="card">
    <div class="card-body">
        <%= simple_horizontal_form_for(@user, url: create_activation_admin_membership_activation_tokens_url, method: :post) do |f| %>
            <%= f.error_notification %>

            <p>Enter the email of a new member here to send them an activation email.</p>
            <%= f.input :email %>
            <%= f.button :submit, "Send Activation", class: 'btn btn-primary' %>
        <% end %>

        <p>Or activate a current user by entering their name:</p>

        <%= simple_horizontal_form_for(@token, url: create_reactivation_admin_membership_activation_tokens_url, method: :post) do |f| %>
            <%= f.error_notification %>

            <% # BOOTSTRAP TODO all_users always. Maybe even only non-activated users. %>
            <%= f.association :user, collection: User.all %>

            <%= f.button :submit, "Send Re-activation", class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
