<div class="container-no-padding">
  <footer class="bg-primary px-2">
    <% # Exists only so the next row has something to margin against.%>
    <div class="row">
    </div>

    <div class="row my-3">
      <% social_media_icons = [
        { icon: 'facebook-f', url: 'https://facebook.com/bedlamtheatre.ed' },
        { icon: 'instagram',  url: 'https://instagram.com/eutc.bedlamtheatre' },
        { icon: 'twitter',    url: 'https://twitter.com/bedlamtheatre' },
        { icon: 'youtube',    url: 'https://www.youtube.com/channel/UCXxyhjT8bPvnl1oVAdRJW1Q' }
      ] %>

      <div class="col"></div>
      <% social_media_icons.each do |icon| %>
        <div class="col-auto"><a href="<%= icon[:url] %>" target="_blank"><i class="fab fa-<%= icon[:icon] %> fa-inverse fs-2 px-3"></i></a></div>
      <% end %>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col">
        <small class="text-light text-center">
          <p class="text-center">
            Bedlam Theatre is run by the Edinburgh University Theatre Company (EUTC). The EUTC is formally associated with
            the Edinburgh University Students Association, registered charity number SC015800. 
            
            Banner Artwork by <%= link_to 'Bronwen Bender', 'http://cargocollective.com/bronwenbender', class: 'text-reset' %>. Logo by Alexander Morzeria-Davis. 
          </p>

          <p>
            <%= link_to 'Project BlackLightning', static_path('black_lightning'), class: 'text-reset' %> Version: <%= version %>
            -
            <%= link_to 'Report Issue', 'https://github.com/EdinburghUniversityTheatreCompany/black_lightning/issues', class: 'text-reset' %>
            | <%= link_to 'Contact Us', static_path('contact'), class: 'text-reset' %>
            | <%= link_to 'Privacy Policy', static_path('privacy_policy'), class: 'text-reset' %>
          </p>
        </small>
      </div>
    </div>
  </footer>
</div>
