<%# locals: () %>

<div class="container">
  <%= link_to image_tag('Header.png', class: "img-fluid", width: 1873, height: 300), root_url() %>
</div>

<div class="container-fluid bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark mb-3" data-controller="navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" data-action="navbar#toggle" data-navbar-target="toggler">
        <i class="fa-solid fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" data-navbar-target="menu">
        <ul class="navbar-nav w-full flex flex-row justify-between items-center">
          <% public_navbar_items().each do |navbar_item| %>
            <% if navbar_item[:children].present? %>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle bedlam-nav-text mx-1" type="button"><%= navbar_item[:title] %></button>
                <ul class="dropdown-menu">
                  <% navbar_item[:children].each do |child_item| %>
                    <li>
                      <% if child_item[:title].include?('Divider') %>
                        <hr class="dropdown-divider">
                      <% else %>
                        <a class="dropdown-item" href="<%= child_item[:path] %>"><%= child_item[:title] %></a>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li class="nav-item <%= navbar_item[:item_class] %>">
                <% navbar_item_class = "nav-link mx-1 #{navbar_item[:link_class].presence || 'bedlam-nav-text'} #{' active' if @current_path == navbar_item[:path]}" %>
                <% if navbar_item[:method].blank? || navbar_item[:method] == :get %>
                  <%= link_to(navbar_item[:title], navbar_item[:path], method: navbar_item[:method], class: navbar_item_class) %>
                <% else %>
                  <%= button_to(navbar_item[:title], navbar_item[:path], method: navbar_item[:method], class: navbar_item_class, form: { style: "display:contents" }) %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
