<div class="container">
	<%= link_to image_tag('Header.png', class: "img-fluid", width: 1873, height: 300), root_url %>
</div>
<% # NICETOHAVE: The hamburger should be on the right of the header when it appears.. %>

<div class="container-no-padding">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
		<div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTop">
				<ul class="navbar-nav mb-2 mb-lg-0 w-100">
					<div class="row w-100 g-0">

					<% @navbar_items.each_with_index do |navbar_item, index| %>
						<% # Add in columns to pad the auto to make sure the full width of the row is taken up, which a row of only col-auto's won't do%>
						<% if index > 0 %>
							<div class="col"></div>
						<% end %>

						<div class="col-lg-auto">
							<% if navbar_item[:children].present? %>
								<% # Render Dropdown %>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle bedlam-nav-text mx-1 ms-0-lg" role="button" data-bs-toggle="dropdown" href="#"><%= navbar_item[:title] %></a>
									<ul class="dropdown-menu">
										<% navbar_item[:children].each do |child_item| %>
											<% if child_item[:title].include?('Divider') %>
												<li><hr class="dropdown-divider"></li>
											<% else %>
												<li><a class="dropdown-item" href="<%= child_item[:path] %>"><%= child_item[:title] %></a></li>
											<% end %>
										<% end %>
									</ul>
								</li>
							<% else %>
								<% # Render normal link %>
								<li class="nav-item <%= "#{navbar_item[:item_class]}"%>">
									<%= link_to(navbar_item[:title], navbar_item[:path], method: navbar_item[:method], class: "nav-link mx-1 ms-0-lg #{navbar_item[:link_class].presence || 'bedlam-nav-text'} #{' active' if @current_path == navbar_item[:path]} ") %>
								</li>
							<% end %>
						</div>
					<% end %>
					</div>
				</ul>
			</div>
		</div>
	</nav>
</div>
