<!DOCTYPE html>
<html>

<head>
  <title><%= "#{@title} | " unless @title.nil? %>Bedlam Theatre Members</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>

  <%= javascript_packs_with_chunks_tag "admin", "shared" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= render('layouts/cdn_includes') %>

  <%= yield :head %>

  <meta name="viewport" content="initial-scale = 1.0" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="" src="https://eutc.azureedge.net/img/logos/svg/bedlam-logo_base-multiline.svg"
        alt="Bedlam Theatre EUTC Logo" height="120" /><br />
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button" data-enable-remember="true"><i
              class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-inline-block">
          <a href="/" class="nav-link">Back to Main Site</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <% @header_user = current_user %>
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-bell"></i>
            <span
              class="badge badge-danger navbar-badge <%= 'd-none' unless @header_user.in_debt %> ">!!</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">Notifications</span>

            <a href="/admin/debts/<%= @header_user.id %>" class="dropdown-item">
              <% debt_icon = @header_user.in_debt ? 'fa-exclamation-circle' : 'fa-check' %>
              <i class="fas <%= debt_icon %> mr-2"></i>
              You are <%= @header_user.debt_message_suffix %>
            </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="brand-link d-flex align-items-center">
        <a href="/admin/" class="brand-link logo-switch">
          <img src="https://eutc.azureedge.net/img/logos/png/bedlam-logo_square-white.png"
            alt="Bedlam Theatre Square Small Logo" class="brand-image-xl logo-xs">
          <img src="https://eutc.azureedge.net/img/logos/png/bedlam-logo_single-line-white-for-red.png"
            alt="Bedlam Theatre EUTC Logo" class="brand-image-xs logo-xl" style="left: 12px">
        </a>
      </div>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <a href="#" class="triggerUserModal" data-current-user-path=<%= admin_user_path(current_user) %>
              data-name-attr=<%=  current_user.first_name.presence || current_user.email %>
              data-destroy-path='/users/sign_out'>
              <% if @header_user.avatar.present? %>
              <%= image_tag @header_user.avatar.variant(square_thumb_variant), class: "img-circle elevation-2" %>
              <% else %>
              <img src="/images/userdef.png" class="img-circle elevation-2" alt="User Image">
              <% end %>
            </a>
          </div>
          <div class="info text-white">
            <span>Welcome,
              <a href="#" class="triggerUserModal" data-current-user-path=<%= admin_user_path(current_user) %>
                data-name-attr=<%=  current_user.first_name.presence || current_user.email %>
                data-destroy-path='/users/sign_out'><%=  current_user.first_name.presence || current_user.email %></a></span>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
            data-accordion="false">
            <li class="nav-item">
              <a href="/admin/" class="nav-link <%='active' if request.fullpath == "/admin" %>">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
            <%= render 'layouts/nav_item', items: @navbar_categories %>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Simple Link
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li> -->
          </ul>
        </nav>
        <!-- /.sidebar-menu -->

      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <%= content_for?(:content_header) ? yield(:content_header) : render('shared/admin_page_header', title: @title) %>

      <%= render '/layouts/alert_div' %>
      
      <div class="content">
        <div class="container-fluid">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer p-0">
      <%= render "layouts/footer" %>
    </footer>
  </div>
  <!-- ./wrapper -->

  <script>
    userModal = function (title, message, userLink, destroyLink) {
      Swal.fire({
        icon: 'question',
        title: title,
        text: message,
        showConfirmButton: true,
        confirmButtonText: 'View User Profile',
        showCloseButton: true,
        showCancelButton: true,
        cancelButtonText: "Close",
        showDenyButton: true,
        denyButtonText: 'Log Out'
      }).then((result) => {
        if (result.isConfirmed) {
          location.assign(userLink)
        } else if (result.isDenied) {
          $.ajax({
            url: '/users/sign_out',
            type: "DELETE",
            headers: {
              'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')
            }
          }).done(function () {
            Swal.fire({
              icon: 'success',
              title: 'Logged out',
              text: 'You were successfully logged out. See you soon!'
            }).then(() => {
              location.assign('/')
            })
          });

        }
      })
    }

    var triggerUserModalEl = document.getElementsByClassName('triggerUserModal');
    var firstTriggerUserModalEl = triggerUserModalEl[0];
    var secondTriggerUserModalEl = triggerUserModalEl[1];
    var currentUserPath = firstTriggerUserModalEl.dataset.currentUserPath;
    var nameAttr = firstTriggerUserModalEl.dataset.nameAttr;
    var destroyUserPath = firstTriggerUserModalEl.dataset.destroyUserPath;

    firstTriggerUserModalEl.onclick = function () {
      userModal(nameAttr,
        "You're currently logged in. Click view user profile to change your name, password, see shows that you're involved in, and more.",
        currentUserPath, destroyUserPath)
    };
    secondTriggerUserModalEl.onclick = function () {
      userModal(nameAttr,
        "You're currently logged in. Click view user profile to change your name, password, see shows that you're involved in, and more.",
        currentUserPath, destroyUserPath)
    };
  </script>
</body>

</html>