<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@title} | " unless @title == nil%>Bedlam Theatre Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<%= link_to 'Bedlam Theatre Admin', admin_path, :class => "brand"%>
			<ul class="nav">
                <% if can? :read, Admin::Proposals::Call %>
                <li><%= link_to 'Proposals', admin_proposals_calls_path %></li>
                <% end %>

				<% if can? :read, Show %>
                <li><%= link_to 'Shows', admin_shows_path %></li>
                <% end %>

                <% if can? :read, News %>
                <li><%= link_to 'News', admin_news_index_path %></li>
                <% end %>

                <% if can? :read, Admin::Staffing %>
                <li><%= link_to 'Staffing', admin_staffings_path %></li>
                <% end %>

                <% if can? :read, Admin::EditableBlock %>
                <li><%= link_to 'Editable Block', admin_editable_blocks_path %></li>
                <% end %>

                <% if can? :read, User %>
                <li><%= link_to 'Users', admin_users_path %></li>
                <% end %>

                <% if can? :manage, :jobs %>
                <li><%= link_to 'Jobs', admin_jobs_path(:action => "overview") %></li>
                <% end %>
            </ul>
            <ul class="nav pull-right">
                <li><p class="navbar-text">Welcome <%= link_to current_user.first_name.presence || current_user.email, edit_admin_user_path(current_user), { :title => 'Edit Account' } %></p></li>
				<li><%= link_to "Main Site", root_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			</ul>
		</div>
	</div>
	<div class="container">
    <% flash.each do |key, msg| %>
      <% case key                       %>
      <% when :alert                    %>
      <%   alertclass = "alert-error"   %>
      <% when :success                  %>
      <%   alertclass = "alert-success" %>
      <% when :notice                   %>
      <%   alertclass = "alert-info"    %>
      <% end %>
      <p id="<%= key %>" class="alert <%= alertclass %>">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </p>
    <% end %>

		<%= yield %>
	</div>
</body>
</html>
