<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@title} | " unless @title.nil? %>Bedlam Theatre Members</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <script src="https://kit.fontawesome.com/4a12ad4883.js" crossorigin="anonymous"></script>

  <%= javascript_packs_with_chunks_tag "application", "admin"%>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <meta name="viewport" content="initial-scale = 1.0" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="https://eutc.azureedge.net/img/logos/svg/bedlam-logo_base-multiline.svg"
        alt="Bedlam Theatre EUTC Logo" height="120" />
      <p><br /><br />Loading...</p>
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light fixed-top">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button" data-enable-remember="true"><i
              class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/" class="nav-link">Back to Main Site</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <% @user = current_user %>
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-bell"></i>
            <span class="badge badge-danger navbar-badge <%= 'd-none' if @user.debt_message_suffix == "not in Debt" %> ">!!</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">Notifications</span>

            <a href="/admin/debts/<%= @user.id %>" class="dropdown-item">
              <i
                class="fas <%= 'fa-check' if @user.debt_message_suffix == "not in Debt" %> <%= 'fa-circle-exclamation' if @user.debt_message_suffix != "not in Debt" %> mr-2"></i>
              <%= unless @user.debt_message_suffix == "in staffing and maintenance Debt" then "You are #{@user.debt_message_suffix}" else "You are in Debt" end %>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <div class="brand-link d-flex align-items-center">
        <a href="/admin/" class="brand-link logo-switch">
          <img src="https://eutc.azureedge.net/img/logos/png/bedlam-logo_square-white.png"
            alt="Bedlam Theatre Square Small Logo" class="brand-image-xl logo-xs">
          <img src="https://eutc.azureedge.net/img/logos/png/bedlam-logo_single-line-white-for-red.png"
            alt="Bedlam Theatre EUTC Logo" class="brand-image-xs logo-xl" style="left: 12px">
        </a>
      </div>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/images/userdef.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info text-white">
            <span>Welcome,
              <%= link_to current_user.first_name.presence || current_user.email, edit_admin_user_path(current_user), { title: 'Edit Account' } %></span>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
            data-accordion="false">
            <li class="nav-item">
              <a href="/admin/" class="nav-link <%='active' if request.fullpath == "/admin" %>">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
              </a>
            </li>
            <%= render 'layouts/nav_item', items: @navbar_categories %>
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Simple Link
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li> -->
          </ul>
        </nav>
        <!-- /.sidebar-menu -->

      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="padding-top: 4rem;">
      <%= render '/layouts/alert_div' %>
      <%= content_for?(:content) ? yield(:content) : yield %>

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
          <footer class="main-footer">
      <%= render "layouts/footer" %>
    </footer>
  </div>
  <!-- ./wrapper -->
  <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
</body>

</html>
