<!DOCTYPE html>
<html lang="en">
  <%# Include the opengraph namespaces: %>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
    
  <title><%= "#{@title} | " unless @title.nil? %>Bedlam Theatre</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= javascript_pack_tag "application", "shared" %>
  <%= javascript_include_tag "application" %>

  <%= render('layouts/cdn_includes') %>

  <%= csrf_meta_tags %>

  <%= yield :head %>

  <%= meta_tags(@meta).html_safe %>
</head>

<body>
  <%= render "layouts/header" %>

  <div class="container">
    <%= render "layouts/ie_notice" %>

    <% # BOOTSTRAP ALEX: Can this be removed now that we have sweetalert, Alex? %>
    <%= render 'layouts/alert_div' %>

    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <%= render "layouts/footer" %>
</body>
</html>
