<!DOCTYPE html>
<html lang="en">
  <%# Include the opengraph namespaces: %>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">

  <!-- measure page load time -->
  <!-- BOOTSTRAP: I think this can go? -->
  <script type="text/javascript">
    load_start = new Date().getTime();
    doc_ready = null;
    load_end = null;
  </script>
    
  <title><%= "#{@title} | " unless @title.nil? %>Bedlam Theatre</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <% # BOOTSTRAP: Loading font-awesome %>
  <script src="https://kit.fontawesome.com/4a12ad4883.js" crossorigin="anonymous"></script>

  <%= javascript_pack_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <%= yield :head %>

  <%= meta_tags(@meta).html_safe %>
</head>

<body>
  <div class="container-no-padding">
    <%= render "layouts/header" %>

    <div class="container">
      <%= render "layouts/ie_notice" %>

      <% # BOOTSTRAP: Can this be removed now that we have sweetalert, Alex? %>
      <%= render 'layouts/alert_div' %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= render "layouts/footer" %>
  </div>
</body>
</html>
