<!DOCTYPE html>
<html>
<head>
  <title>Bedlam Theatre<%= " | #{@title}" unless @title == nil%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
  <div class="container">
  	<!-- START HEADER SECTION -->
	<div class="row header">

		<div class="row">
			<div class="span4">
				<%= link_to image_tag('BedlamLogoBW.png', :id => "logo", :style => "border: 2px solid black;"), root_path%>
			</div>
			<div class="span8">
				<div class="row">
					<div class="row pull-right">
						<a href="#" class="btn">Press</a>
						<a href="#" class="btn">Sponsors</a>
						<%= link_to "Members", admin_path, :class => "btn" %>
						<a href="#" class="btn">Newsletter</a>
					</div>
					<div class="row">
						<ul id="nav">
							<li><%= link_to 'Shows', shows_path %></li>
							<li><%= link_to 'News', news_index_path %></li>
							<li><%= link_to 'About', about_path %></li>
							<li><a href="#">Get Involved</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
<%= render :partial => "shared/cookie_notice" %>

<% flash.each do |key, msg| %>
  <% case key                       %>
  <% when :alert                    %>
  <%   alertclass = "alert-error"   %>
  <% when :success                  %>
  <%   alertclass = "alert-success" %>
  <% when :notice                   %>
  <%   alertclass = "alert-info"    %>
  <% end %>
  <p id="<%= key %>" class="alert <%= alertclass %>">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </p>
<% end %>

<%= content_for?(:content) ? yield(:content) : yield %>

<%= render :partial => "shared/google_analytics" %>
</div>
</body>
</html>
