<!DOCTYPE html>
<html>
<%# Include the opengraph namespaces: %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">

  <!-- measure page load time -->
  <script type="text/javascript">
    load_start = new Date().getTime();
    doc_ready = null;
    load_end = null;
  </script>

  <title><%= "#{@title} | " unless @title == nil%>Bedlam Theatre</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <%= meta_tags.html_safe %>
</head>
<body>
  <div class="container">
    <!-- START HEADER SECTION -->
    <div class="row">
		<div class="span12 header">
          <ul id="nav_minor" class="pull-right nav nav-pills">
            <li><a href="http://facebook.com/bedlamtheatre.ed"><i class="icon-facebook"></i></a></li>
            <li><a href="http://twitter.com/bedlamtheatre"><i class="icon-twitter"></i></a></li>
            <li><%= link_to 'Press',    static_path('press')        %></li>
            <li><%= link_to 'Sponsors', static_path('sponsors')     %></li>
            <li><%= link_to 'Archives', archives_index_path         %></li>
            <li><%= link_to 'Members',  admin_path                  %></li>
            <li><%= link_to 'Newsletter', static_path('newsletter') %></li>
          </ul>
		  <%= image_tag 'Header.jpg' %>
          <ul id="nav" class="nav nav-pills">
            <li><%= link_to 'Shows', shows_path %></li>
            <li><%= link_to 'News', news_index_path %></li>
            <li><%= link_to 'About', about_index_path %></li>
            <li><%= link_to 'Get Involved', get_involved_index_path %></li>
            <li><%= link_to 'Contact', static_path('contact') %></li>
          </ul>
	  </div>
    </div>
    <!-- END HEADER -->

    <%= render "shared/ie_notice" %>

    <%= render "shared/cookie_notice" %>

    <div class="alert-container">
      <% if @hide_alert != true %>
        <% flash.each do |key, msg| %>
          <% case key                               %>
          <% when :alert                            %>
          <%   alertclass = "alert-error"           %>
          <%   icon       = "icon-exclamation-sign" %>
          <% when :success                          %>
          <%   alertclass = "alert-success"         %>
          <%   icon       = "icon-ok"               %>
          <% when :notice                           %>
          <%   alertclass = "alert-info"            %>
          <%   icon       = "icon-info-sign"        %>
          <% end %>
          <p id="<%= key %>" class="alert <%= alertclass %>">
            <i class="<%= icon %> icon-large"></i>
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </p>
        <% end %>
      <% end %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <%= render "shared/google_analytics" %>
  </div>

  <%= render "shared/footer" %>
</body>
</html>