<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= "#{@title}" unless @title.nil? %></title>
  <%= vite_client_tag %>
  <%= vite_javascript_tag "login" %>

  <%= vite_stylesheet_tag "login.css" %>

  <%= csrf_meta_tags %>

  <%= yield :head %>

  <meta name="viewport" content="initial-scale = 1.0">
</head>

<body class="hold-transition login-page" data-controller="form-validator">


    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a href="/" class="h1"><img src="https://eutc.azureedge.net/img/logos/svg/bedlam-logo_single-line.svg"></a>
            </div>
            <div class="card-body">
            <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <%= render '/layouts/alert_div' %>
</body>

</html>
